body{
    margin: 0;
    font-family: sans-serif;
}

/*topSite*/
.top-site{
    width: 1800px;
    height: 951px;
    margin: 0 auto;
    position: relative;
}

.logo{
    position: absolute;
    top: 55px;
    left: 315px;
}

.photo-iPhone{
    position: absolute;
    top: 260px;
    right: 265px;
}

.com{
    position: absolute;
    top: 522.25px;
    left: 25px;
    transform: rotate(-90deg);
    font-size: 10px;
    color: rgb(209, 209, 209);
}

.com span{
    font-weight: bold;
    color: white;
}

.Picture-perfect{
    position: absolute;
    top:432.25px;
    width: 400px;
    left: 315px;
    color: white;
}

h1{
    font-weight: lighter;
    font-size: 50px;
    margin-bottom: 0px;
}

.Picture-perfect p{
    line-height: 30px;
}
/*topSite*/

/*centerSite*/
.start-something-new-block{
    width: 1200px;
    height: 545px;
    margin: auto;
    position: relative;
}

.title-start{
    margin: 0;
    font-weight: normal;
    color: rgb(56, 56, 56);
    font-size: 30px;
}

.start-something-new{
    position: absolute;
    top: 115px;
    width: 550px;
}

.start-something-new p{
    margin-top: 30px;
    line-height: 25px;
    color: rgb(100, 100, 100);
}

.start-something-new-right{
    position: absolute;
    top: 235px;
    width: 550px;
    right: 50px;
    margin-top: 30px;
    line-height: 25px;
    color: rgb(100, 100, 100);
}

.block-pink{
    background-color: #f5989d;
    width: 400px;
    height: 278px;
    display: inline-block;
    margin-right: -2.5px;
    margin-bottom: -2.5px;
    position: relative;
}

.block-violet{
    background-color: #615f7d;
    width: 400px;
    height: 278px;
    display: inline-block;
    margin-left: -2.5px;
    margin-right: -2.5px;
    margin-bottom: -2.5px;
    position: relative;
}

.block-our-clients{
    width: 400px;
    height: 278px;
    display: inline-block;
    margin-left: -2.5px;
    margin-bottom: -2.5px;
    position: relative;
}

.block-our-clients img{
    margin-bottom: -2.5px;
}

.block-sing-up-and-see-why{
    width: 800px;
    height: 278px;
    display: inline-block;
    margin-right: -2.5px;
    margin-top: -2.5px;
    position: relative;
}

.block-green{
    background-color: #82ca9c;
    width: 400px;
    height: 278px;
    margin-left: -3.2px;
    margin-top: -2.5px;
    display: inline-block;
    position: relative;
}

.title{
    position: absolute;
    top: 30px;
    left: 45px;
    font-weight: lighter;
    color: white;
    font-size: 30px;
}

.text{
    position: absolute;
    top: 100px;
    left: 45px;
    color: white;
    line-height: 25px;
}

.text-sing{
    position: absolute;
    top: 100px;
    left: 45px;
    color: white;
    width: 500px;
    line-height: 25px;
}

.link{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 215px;
    left: 45px;
}

.link:hover{
    color: black;
    border-bottom: 1px solid black;
}

.hearts{
    position: absolute;
    top: 185px;
    right: 45px;
    color: white;
    font-size: 30px;
}

.a-look-at-the-detalis{
    width: 1200px;
    height: 400px;
    margin: 100px auto;
    position: relative;
}

.title-a-look{
    font-weight: normal;
    color: rgb(75, 75, 75);
    font-size: 35px;
}

.title-a-look-at{
    color: rgb(75, 75, 75);
}

.block-text{
    width: 250px;
    height: 100px;
    padding-right: 40px;
    display: inline-block;
}

.text-a-look{
    color: rgb(100, 100, 100);
    line-height: 30px;
}
/*centerSite*/

/*photoCenter*/
.photo-center{
    width: 1800px;
    height: 874px;
    margin: 0 auto;
    position: relative;
}

.title-more-power{
    width: 420px;
    color: white;
    position: absolute;
    bottom: 350px;
    left: 315px;
    font-size: 50px;
    font-weight: normal;
}

.text-more-power{
    position: absolute;
    bottom: 275px;
    left: 315px;
    width: 375px;
    color: white;
    line-height: 20px;
    font-size: 12.5px;
}

.link-see-the-options{
    position: absolute;
    bottom: 240px;
    left: 315px;
    text-decoration: none;
    color: white;
}

.link-see-the-options:hover{
    color: #1c474e;
    border-bottom: 1px solid #1c474e;
}

.takpappcomone{
    position: absolute;
    top: 30px;
    right: 1400px;
    transform: rotate(-90deg);
    font-size: 10px;
    color: rgb(100, 100, 100);
}
/*photoCenter*/

/*ReasonsToGetOnboard*/
.reasons-to-get-onboard{
    background-color: #82ca9c;
    margin: 0 auto;
    width: 1485px;
    height: 545px;
    position: relative;
    padding-left: 315px;
}

.title-reasons{
    position: absolute;
    font-weight: normal;
    color: white;
    font-size: 35px;
    top: 100px;
    left: 315px;
}

.block-text-reasons{
    display: inline-block;
    width: 350px;
    padding-right: 50px;
    padding-top: 200px;
    margin: auto;
    color: white;
    line-height: 25px;
}

.takpappcom{
    position: absolute;
    top: 150px;
    left: 25px;
    transform: rotate(-90deg);
    font-size: 10px;
    color: rgb(209, 209, 209);
}
/*ReasonsToGetOnboard*/

/*bottomSite*/
.block-bottom-site{
    background-color: #ebeef0;
    margin: -20px auto;
    width: 1485px;
    height: 545px;
    position: relative;
    padding-left: 315px;
}

.block-go-it-solo{
    display: inline-block;
    margin-top: 100px;
    width: 450px;
    height: 250px;
    padding: 50px;
}

.block-go-it-solo:hover{
    background-color: white;
    box-shadow: 0px 0px 100px 0px black;
}

.block-team-plan{
    display: inline-block;
    margin-top: 100px;
    width: 450px;
    height: 250px;
    padding: 50px;
}

.block-team-plan:hover{
    background-color: white;
    box-shadow: 0px 0px 100px 0px black;
}

.legacy{
    font-size: 10px;
    background-color: #bdbdbe;
    color: white;
    width: 60px;
    height: 15px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

.block-go-it-solo:hover .legacy{
    color: black;
    background-color: #bd8cbf;
}

.most-popular{
    font-size: 10px;
    background-color: #bdbdbe;
    color: white;
    width: 100px;
    height: 15px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

.block-team-plan:hover .most-popular{
    color: black;
    background-color: #bd8cbf;
}

.go-it-solo-and-team-plan{
    font-weight: normal;
    font-size: 20px;
    color: #585656;
}

.go-it-solo-text-and-team-plan-text{
    font-size: 15px;
    color: #888888;
    width: 425px;
    line-height: 20px;
}

.money{
    text-decoration: none;
    color: white;
    background-color: #82ca9c;
    font-size: 10px;
    width: 100px;
    height: 20px;
    display: block;
    text-align: center;
    padding-top: 10px;
    border-radius: 2.5px;
}

.money:hover{
    color: black;
    background-color: #3074c7;
}

.block-go-it-solo:hover .money{
    box-shadow: 0px 0px 10px 1px rgb(100, 100, 100);
}

.block-team-plan:hover .money{
    box-shadow: 0px 0px 10px 1px rgb(100, 100, 100);
}

.apple-and-windows{
    margin-top: 15px;
    padding-right: 10px;
}

.block-bottom-site-blue{
    background-color: #192431;
    margin: -20px auto;
    width: 1485px;
    height: 545px;
    position: relative;
    padding-left: 315px;
}

.block-bottom-blue{
    width: 500px;
    padding-top: 100px;
    color: white;
}

.text-get-in-touch{
    font-size: 13px;
    line-height: 20px;
}

.block-get-in-touch{
    width: 500px;
}

.block-get-text{
    display: inline-block;
    padding-right: 30px;
}

.text-tour-customers{
    width: 125px;
    font-size: 13px;
    line-height: 20px;
}

.stay-in-touch{
    position: absolute;
    top: 100px;
    right: 400px;
    width: 450px;
    color: white;
}

.input{
    height: 40px;
    width: 450px;
    font-size: 30px;

}

.input-yes{
    width: 50px;
    height: 46px;
    background-color: #82ca9c;
    position: absolute;
    top: 59px;
    right: -4px;
}

.yes{
    padding-left: 18px;
    text-decoration: none;
    color: white;
}

.input-yes:hover .yes{
    color: black;
}

.input-yes:hover{
    box-shadow: 0px 0px 10px 1px white;
}

.text-stay-in-touch{
    font-size: 13px;
}
/*bottomSite*/

@media screen and (max-width: 768px){
    body{
        margin: -75px auto;
    }
    .top-site{
        display: none;
    }
    .start-something-new-right{
        display: none;
    }
    .block-pink{
        display: none;
    }
    .block-violet{
        display: none;
    }
    .block-sing-up-and-see-why{
        display: none;
    }
    .block-green{
        position: absolute;
        top: 280px;
        left: 60.5px;
    }
    .block-our-clients{
        position: absolute;
        left: 60px;
    }
    .a-look-at-the-detalis{
        display: none;
    }
    .photo-center{
        display: none;
    }
    .reasons-to-get-onboard{
        display: none;
    }
    .start-something-new-block{
        width: 550px;
        height: 545px;
        margin: auto;
    }
    .block-bottom-site{
        width: 550px;
        height: 740px;
        padding-left: 0px;
        margin-top: 0px;
        margin-left: 50px;
    }
    .takpappcom{
        display: none;
        padding-left: 0px;
    }
    .block-bottom-site-blue{
        width: 550px;
        padding-left: 0px;
        position: absolute;
        left: 50px;
        height: 250px;
    }
    .block-bottom-blue{
        display: none;
    }
    .stay-in-touch{
        top: 50px;
        left: 50px;
    }
    .logo-media{
        width: 92px;
        height: 41px;
        background-image: url(../imgs/logo/Logo-take.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 100px;
        right: 100px;
        background-color: black;
        border-radius: 50px;
        box-shadow: 0px 0px 10px 10px black;
    }
    .block-go-it-solo{
        margin: 0;
    }
    .block-team-plan{
        margin: 0;
    }
}