/*STYLE SCSS*/

body{
    font-family: Roboto;
    font-size: 14px;
}

.header__container{
    margin: 0;
    position: relative;
    .box-shadow{
        width: 100%;
        box-shadow: 0 0 200px 50px black;
        z-index: 2;
    }
    .header__image{
        width: 100%;
    }
    .header{
        position: absolute;
        width: 100%;
        padding: 30px 15% 0 15%;
        z-index: 3;
        .header-logo{
            font-weight: bolder;
            color: white;
            font-size: 25px;
        }
        .header__container-phone{
            position: absolute;
            top: 35px;
            margin-left: 125px;
            display: inline-block;
            border-left: 1px solid #7d8e8e;
            padding-left: 40px;
            .header-phone__image{
            }
            .header-phone{
                display: inline-block;
                margin-left: 5px;
                color: white;
                font-weight: bolder;
            }
        }
        .header__linksresponsive{
            display: flex;
            flex-direction: column;
            position: relative;
            top: -117.5px;
            .header-getstarted{
                display: none;
            }
            .header__link{
                text-align: center;
                color: white;
                display: block;
                font-weight: bolder;
                font-size: 12px;
                text-decoration: none;
                width: 100px;
                position: relative;
                top: 150px;
                left: 0%;
            &:hover{
                color: #71ab47;
            }
        }
            .icon{
                display: block;
                font-size: 20px;
                color: #eef1eccc;
                text-decoration: none;
                position: relative;
                top: -53px;
                left: 97.8%;
                width: 20px;
            }
            .icon:hover{
                color: white;
            }
        }
        .header__links{
            position: absolute;
            right: 15%;
            top: 30px;
            .icon{
                display: none;
            }
            .header__link{
                margin: 0 30px;
                font-weight: bolder;
                font-size: 12px;
                text-decoration: none;
                color: #7d8e8e;
                &:hover{
                    color: white;
                }
            }
            .header-getstarted{
                display: inline-block;
                padding: 7.5px 15px;
                background-color: #7d8e8e;
                color: white;
                font-weight: bolder;
                font-size: 12px;
            }
        }
    }
    .cras{
        text-align: center;
        position: absolute;
        width: 100%;
        top: 240px;
        .cras__headline{
            font-size: calc(100vw / 40);
            padding: 0 25%;
            color: white;
            margin-bottom: 70px;
        }
        .cras__link{
            text-decoration: none;
            color: white;
            font-weight: bolder;
            background-color: #6fb048;
            padding: 15px 45px;
            font-size: 12px;
            &:hover{
                box-shadow: 0 0 25px 5px #6fb048;
            }
        }
    }
}

.about{
    width: 100%;
    height: auto;
    padding: 75px;
    text-align: center;
    .about__headline{
        font-size: 30px;
        color: #0f5f5c;
        margin-bottom: 15px;
    }
    .about-underscore{
        width: 50px;
        height: 1px;
        margin: auto;
        background-color: #6fb048;
        margin-bottom: 40px;
    }
    .about__text{
        padding: 0 27.5%;
        color: #0f5f5c;
        line-height: 20px;
        margin-bottom: 100px;
    }
    .about-flex{
        margin: 0;
        padding: 0 15%;
        .about__container{
            .about__image-lonicons{
                margin-bottom: 25px;
            }
            .about__image-design{
                margin-bottom: 21px;
            }
            .about__image-sketch{
                margin-bottom: 29px;
            }
            .about__container__headline{
                color: #0f5f5c;
                margin-bottom: 15px;
                font-weight: bolder;
            }
            .about__container__text{
                color: #0f5f5c;
                line-height: 20px;
            }
        }
    }
}

.team{
    width: 100%;
    height: auto;
    padding: 75px;
    background-color: #eef1ec; 
    .team__headline{
        font-size: 30px;
        color: #0f5f5c;
        margin-bottom: 15px;
        text-align: center;
    }
    .team-underscore{
        width: 50px;
        height: 1px;
        margin: auto;
        background-color: #6fb048;
        margin-bottom: 40px;
    }
    .team__text{
        padding: 0 27.5%;
        color: #0f5f5c;
        line-height: 20px;
        margin-bottom: 100px;
        text-align: center;
    }
    .team-flex{
        margin: 0;
        padding: 0 20%;
        .team__container{
            .team__image{
                margin-bottom: 25px;
                width: 100%;
            }
            .team__container__headline{
                color: #0f5f5c;
                margin-bottom: 5px;
                font-weight: bolder;
                text-align: left;
            }
            .team__container__text{
                color: #0f5f5c;
                text-align: left;
            }
        }
    }
}

.download{
    margin: 0;
    position: relative;
    .download__image{
        width: 100%;
    }
    .download__headline{
        position: absolute;
        left: 15%;
        top: 80px;
        color: white;
        font-size: 30px;
    }
    .download__text{
        position: absolute;
        left: 15%;
        bottom: 70px;
        color: white;
        font-size: 16px;
    }
    .download__link{
        text-decoration: none;
        position: absolute;
        right: 15%;
        bottom: 70px;
        color: white;
        padding: 15px 25px;
        background-color: #345024;
        &:hover{
            box-shadow: 0 0 10px 3px #345024;
        }
    }
}

.contacts{
    margin: 0;
    height: auto;
    padding: 75px 15%;
    .contacts__container{
        padding: 0;
        .contacts__headline-wapik{
            color: #0f5f5c;
            font-weight: bolder;
            font-size: 18px;
            margin-bottom: 10px;
        }
        .contacts__headline{
            color: #0f5f5c;
            font-weight: bolder;
            margin-bottom: 10px;
        }
        .contacts__text{
            line-height: 30px;
            color: #0f5f5c;
            .contacts__text_span{
                font-weight: bolder;
            }
        }
        .contacts__text-kalamazoo{
            color: #0f5f5c;
        }
        .contacts__link{
            display: block;
            color: #0f5f5c;
            text-decoration: none;
            margin: 17.5px 0;
            &:hover{
                color: #71ab47;
            }
        }
        .contacts__text-newsletter{
            color: #0f5f5c;
            line-height: 20px;
            margin-bottom: 20px;
        }
        .contacts__input{
            width: 75%;
            color: #2a9794;
            height: 40px;
            padding-left: 10px;
            background-color: #eef1ec;
            border: none;
        }
        .contacts__input__image{
            position: absolute;
            right: 95px;
            top: 95px;
        }
    }
}

.links{
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 30px;
    position: relative;
    height: auto;
    .links__text{
        color: #0f5f5c;
    }
    .links__image{
        position: absolute;
        right: 15%;
    }
}

@media screen and (max-width: 1376px){
    .contacts{
        .contacts__container{
            .contacts__headline-wapik{
            }
            .contacts__headline{
            }
            .contacts__text{
                .contacts__text_span{
                }
            }
            .contacts__text-kalamazoo{
            }
            .contacts__link{
            }
            .contacts__text-newsletter{
            }
            .contacts__input{
            }
            .contacts__input__image{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1300px){
    .header__container{
        .box-shadow{
        }
        .header__image{
        }
        .header{
            .header-logo{
            }
            .header__container-phone{
                .header-phone__image{
                }
                .header-phone{
                }
            }
            .header__linksresponsive{
                display: flex;
                flex-direction: column;
                position: relative;
                top: -17.5px;
                .header-getstarted{
                    display: none;
                }
                .header__link{
                    text-align: center;
                    color: white;
                    display: block;
                    font-weight: bolder;
                    font-size: 12px;
                    text-decoration: none;
                    width: 100px;
                    position: relative;
                    top: 50px;
                    left: 0%;
                &:hover{
                    color: #71ab47;
                }
            }
                .icon{
                    display: block;
                    font-size: 20px;
                    color: #eef1eccc;
                    text-decoration: none;
                    position: relative;
                    top: -53px;
                    left: 97.8%;
                    width: 20px;
                }
                .icon:hover{
                    color: white;
                }
            }
            .header__links{
                display: flex;
                flex-direction: column;
                top: 60px;
                .header__link{
                    display: none;
                }
                .icon{
                    display: block;
                    font-size: 20px;
                    color: #eef1eccc;
                    text-decoration: none;
                    position: relative;
                    top: -27.5px;
                }
                .header-getstarted{
                    display: none;
                }
                .icon:hover{
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 1240px){
    .download{
        .download__image{
        }
        .download__headline{
            left: 1%;
        }
        .download__text{
            left: 1%;
        }
        .download__link{
            right: 1%;
        }
    }    
}

@media screen and (max-width: 890px){
    .download{
        .download__image{
        }
        .download__headline{
        }
        .download__text{
        }
        .download__link{
            top: 5%;
            height: 40px;
        }
    }    
}

@media screen and (max-width: 768px){
    .about{
        padding: 75px 10px;
        .about__headline{
        }
        .about-underscore{
        }
        .about__text{
            padding: 0;
        }
        .about-flex{
            padding: 0;
            .about__container{
                .about__image-lonicons{
                }
                .about__image-design{
                }
                .about__image-sketch{
                }
                .about__container__headline{
                }
                .about__container__text{
                }
            }
        }
    }
    .team{
        padding: 75px 0;
        .team__headline{
        }
        .team-underscore{
        }
        .team__text{
            padding: 0 1%;
        }
        .team-flex{
            padding: 0;
            .team__container{
                .team__image{
                }
                .team__container__headline{
                }
                .team__container__text{
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .contacts{
        display: none;
        .contacts__container{
            .contacts__headline-wapik{
            }
            .contacts__headline{
            }
            .contacts__text{
                .contacts__text_span{
                }
            }
            .contacts__text-kalamazoo{
            }
            .contacts__link{
            }
            .contacts__text-newsletter{
            }
            .contacts__input{
            }
            .contacts__input__image{
            }
        }
    }
    .links{
        padding-top: 20px;
        padding-bottom: 45px;
        position: relative;
        height: auto;
        .links__text{
            display: none;
        }
        .links__image{
            left: 37.5%;
        }
    }
}

@media screen and (max-width: 610px){
    .download{
        .download__image{
        }
        .download__headline{
            font-size: calc(100vw / 17.5);
        }
        .download__text{
            display: none;
        }
        .download__link{
        }
    }    
}

@media screen and (max-width: 500px){
    .header__container{
        .box-shadow{
        }
        .header__image{
        }
        .header{
            .header-logo{
            }
            .header__container-phone{
                margin: 22.5px 0px 0px 0;
                padding: 0;
                border-left: none;
                z-index: 3;
                .header-phone__image{
                }
                .header-phone{
                }
            }
            .header__links{
                .header__link{
                }
                .header-getstarted{
                }
            }
        }
        .cras{
            .cras__headline{
                font-size: calc(100vw / 25);
            }
            .cras__link{
            }
        }
    }
}

@media screen and (max-width: 320px){
    .download{
        .download__image{
        }
        .download__headline{
            font-size: calc(100vw / 20);
        }
        .download__text{
        }
        .download__link{
            right: 6%;
        }
    }
    .links{
        .links__text{
        }
        .links__image{
            left: 1%;
        }
    }
}