/*STYLE SCSS*/
body {
  font-family: Roboto;
  font-size: 14px; }

.header__container {
  margin: 0;
  position: relative; }
  .header__container .box-shadow {
    width: 100%;
    -webkit-box-shadow: 0 0 200px 50px black;
            box-shadow: 0 0 200px 50px black;
    z-index: 2; }
  .header__container .header__image {
    width: 100%; }
  .header__container .header {
    position: absolute;
    width: 100%;
    padding: 30px 15% 0 15%;
    z-index: 3; }
    .header__container .header .header-logo {
      font-weight: bolder;
      color: white;
      font-size: 25px; }
    .header__container .header .header__container-phone {
      position: absolute;
      top: 35px;
      margin-left: 125px;
      display: inline-block;
      border-left: 1px solid #7d8e8e;
      padding-left: 40px; }
      .header__container .header .header__container-phone .header-phone {
        display: inline-block;
        margin-left: 5px;
        color: white;
        font-weight: bolder; }
    .header__container .header .header__linksresponsive {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative;
      top: -117.5px; }
      .header__container .header .header__linksresponsive .header-getstarted {
        display: none; }
      .header__container .header .header__linksresponsive .header__link {
        text-align: center;
        color: white;
        display: block;
        font-weight: bolder;
        font-size: 12px;
        text-decoration: none;
        width: 100px;
        position: relative;
        top: 150px;
        left: 0%; }
        .header__container .header .header__linksresponsive .header__link:hover {
          color: #71ab47; }
      .header__container .header .header__linksresponsive .icon {
        display: block;
        font-size: 20px;
        color: #eef1eccc;
        text-decoration: none;
        position: relative;
        top: -53px;
        left: 97.8%;
        width: 20px; }
      .header__container .header .header__linksresponsive .icon:hover {
        color: white; }
    .header__container .header .header__links {
      position: absolute;
      right: 15%;
      top: 30px; }
      .header__container .header .header__links .icon {
        display: none; }
      .header__container .header .header__links .header__link {
        margin: 0 30px;
        font-weight: bolder;
        font-size: 12px;
        text-decoration: none;
        color: #7d8e8e; }
        .header__container .header .header__links .header__link:hover {
          color: white; }
      .header__container .header .header__links .header-getstarted {
        display: inline-block;
        padding: 7.5px 15px;
        background-color: #7d8e8e;
        color: white;
        font-weight: bolder;
        font-size: 12px; }
  .header__container .cras {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 240px; }
    .header__container .cras .cras__headline {
      font-size: -webkit-calc(100vw / 40);
      font-size: calc(100vw / 40);
      padding: 0 25%;
      color: white;
      margin-bottom: 70px; }
    .header__container .cras .cras__link {
      text-decoration: none;
      color: white;
      font-weight: bolder;
      background-color: #6fb048;
      padding: 15px 45px;
      font-size: 12px; }
      .header__container .cras .cras__link:hover {
        -webkit-box-shadow: 0 0 25px 5px #6fb048;
                box-shadow: 0 0 25px 5px #6fb048; }

.about {
  width: 100%;
  height: auto;
  padding: 75px;
  text-align: center; }
  .about .about__headline {
    font-size: 30px;
    color: #0f5f5c;
    margin-bottom: 15px; }
  .about .about-underscore {
    width: 50px;
    height: 1px;
    margin: auto;
    background-color: #6fb048;
    margin-bottom: 40px; }
  .about .about__text {
    padding: 0 27.5%;
    color: #0f5f5c;
    line-height: 20px;
    margin-bottom: 100px; }
  .about .about-flex {
    margin: 0;
    padding: 0 15%; }
    .about .about-flex .about__container .about__image-lonicons {
      margin-bottom: 25px; }
    .about .about-flex .about__container .about__image-design {
      margin-bottom: 21px; }
    .about .about-flex .about__container .about__image-sketch {
      margin-bottom: 29px; }
    .about .about-flex .about__container .about__container__headline {
      color: #0f5f5c;
      margin-bottom: 15px;
      font-weight: bolder; }
    .about .about-flex .about__container .about__container__text {
      color: #0f5f5c;
      line-height: 20px; }

.team {
  width: 100%;
  height: auto;
  padding: 75px;
  background-color: #eef1ec; }
  .team .team__headline {
    font-size: 30px;
    color: #0f5f5c;
    margin-bottom: 15px;
    text-align: center; }
  .team .team-underscore {
    width: 50px;
    height: 1px;
    margin: auto;
    background-color: #6fb048;
    margin-bottom: 40px; }
  .team .team__text {
    padding: 0 27.5%;
    color: #0f5f5c;
    line-height: 20px;
    margin-bottom: 100px;
    text-align: center; }
  .team .team-flex {
    margin: 0;
    padding: 0 20%; }
    .team .team-flex .team__container .team__image {
      margin-bottom: 25px;
      width: 100%; }
    .team .team-flex .team__container .team__container__headline {
      color: #0f5f5c;
      margin-bottom: 5px;
      font-weight: bolder;
      text-align: left; }
    .team .team-flex .team__container .team__container__text {
      color: #0f5f5c;
      text-align: left; }

.download {
  margin: 0;
  position: relative; }
  .download .download__image {
    width: 100%; }
  .download .download__headline {
    position: absolute;
    left: 15%;
    top: 80px;
    color: white;
    font-size: 30px; }
  .download .download__text {
    position: absolute;
    left: 15%;
    bottom: 70px;
    color: white;
    font-size: 16px; }
  .download .download__link {
    text-decoration: none;
    position: absolute;
    right: 15%;
    bottom: 70px;
    color: white;
    padding: 15px 25px;
    background-color: #345024; }
    .download .download__link:hover {
      -webkit-box-shadow: 0 0 10px 3px #345024;
              box-shadow: 0 0 10px 3px #345024; }

.contacts {
  margin: 0;
  height: auto;
  padding: 75px 15%; }
  .contacts .contacts__container {
    padding: 0; }
    .contacts .contacts__container .contacts__headline-wapik {
      color: #0f5f5c;
      font-weight: bolder;
      font-size: 18px;
      margin-bottom: 10px; }
    .contacts .contacts__container .contacts__headline {
      color: #0f5f5c;
      font-weight: bolder;
      margin-bottom: 10px; }
    .contacts .contacts__container .contacts__text {
      line-height: 30px;
      color: #0f5f5c; }
      .contacts .contacts__container .contacts__text .contacts__text_span {
        font-weight: bolder; }
    .contacts .contacts__container .contacts__text-kalamazoo {
      color: #0f5f5c; }
    .contacts .contacts__container .contacts__link {
      display: block;
      color: #0f5f5c;
      text-decoration: none;
      margin: 17.5px 0; }
      .contacts .contacts__container .contacts__link:hover {
        color: #71ab47; }
    .contacts .contacts__container .contacts__text-newsletter {
      color: #0f5f5c;
      line-height: 20px;
      margin-bottom: 20px; }
    .contacts .contacts__container .contacts__input {
      width: 75%;
      color: #2a9794;
      height: 40px;
      padding-left: 10px;
      background-color: #eef1ec;
      border: none; }
    .contacts .contacts__container .contacts__input__image {
      position: absolute;
      right: 95px;
      top: 95px; }

.links {
  margin: 0;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 30px;
  position: relative;
  height: auto; }
  .links .links__text {
    color: #0f5f5c; }
  .links .links__image {
    position: absolute;
    right: 15%; }

@media screen and (max-width: 1376px) {
  .contacts .contacts__container .contacts__input__image {
    display: none; } }

@media screen and (max-width: 1300px) {
  .header__container .header .header__linksresponsive {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: -17.5px; }
    .header__container .header .header__linksresponsive .header-getstarted {
      display: none; }
    .header__container .header .header__linksresponsive .header__link {
      text-align: center;
      color: white;
      display: block;
      font-weight: bolder;
      font-size: 12px;
      text-decoration: none;
      width: 100px;
      position: relative;
      top: 50px;
      left: 0%; }
      .header__container .header .header__linksresponsive .header__link:hover {
        color: #71ab47; }
    .header__container .header .header__linksresponsive .icon {
      display: block;
      font-size: 20px;
      color: #eef1eccc;
      text-decoration: none;
      position: relative;
      top: -53px;
      left: 97.8%;
      width: 20px; }
    .header__container .header .header__linksresponsive .icon:hover {
      color: white; }
  .header__container .header .header__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 60px; }
    .header__container .header .header__links .header__link {
      display: none; }
    .header__container .header .header__links .icon {
      display: block;
      font-size: 20px;
      color: #eef1eccc;
      text-decoration: none;
      position: relative;
      top: -27.5px; }
    .header__container .header .header__links .header-getstarted {
      display: none; }
    .header__container .header .header__links .icon:hover {
      color: white; } }

@media screen and (max-width: 1240px) {
  .download .download__headline {
    left: 1%; }
  .download .download__text {
    left: 1%; }
  .download .download__link {
    right: 1%; } }

@media screen and (max-width: 890px) {
  .download .download__link {
    top: 5%;
    height: 40px; } }

@media screen and (max-width: 768px) {
  .about {
    padding: 75px 10px; }
    .about .about__text {
      padding: 0; }
    .about .about-flex {
      padding: 0; }
  .team {
    padding: 75px 0; }
    .team .team__text {
      padding: 0 1%; }
    .team .team-flex {
      padding: 0; } }

@media screen and (max-width: 767px) {
  .contacts {
    display: none; }
  .links {
    padding-top: 20px;
    padding-bottom: 45px;
    position: relative;
    height: auto; }
    .links .links__text {
      display: none; }
    .links .links__image {
      left: 37.5%; } }

@media screen and (max-width: 610px) {
  .download .download__headline {
    font-size: -webkit-calc(100vw / 17.5);
    font-size: calc(100vw / 17.5); }
  .download .download__text {
    display: none; } }

@media screen and (max-width: 500px) {
  .header__container .header .header__container-phone {
    margin: 22.5px 0px 0px 0;
    padding: 0;
    border-left: none;
    z-index: 3; }
  .header__container .cras .cras__headline {
    font-size: -webkit-calc(100vw / 25);
    font-size: calc(100vw / 25); } }

@media screen and (max-width: 320px) {
  .download .download__headline {
    font-size: -webkit-calc(100vw / 20);
    font-size: calc(100vw / 20); }
  .download .download__link {
    right: 6%; }
  .links .links__image {
    left: 1%; } }
