/*STYLE SCSS*/
body {
  font-family: Roboto;
  font-size: 14px; }

.header__container {
  margin: 0;
  position: relative;
  height: 85px; }
  .header__container .header {
    position: absolute;
    width: 100%;
    padding: 30px 15% 30px 15%;
    z-index: 3; }
    .header__container .header .header-logo {
      font-weight: bolder;
      color: #0f5f5c;
      font-size: 25px; }
    .header__container .header .header__container-phone {
      position: absolute;
      top: 35px;
      margin-left: 125px;
      display: inline-block;
      border-left: 1px solid #2a9794;
      padding-left: 40px; }
      .header__container .header .header__container-phone .header-phone {
        display: inline-block;
        margin-left: 5px;
        color: #2a9794;
        font-weight: bolder; }
    .header__container .header .header__linksresponsive {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative;
      top: -175px; }
      .header__container .header .header__linksresponsive .icon {
        display: none; }
      .header__container .header .header__linksresponsive .header-getstarted {
        display: none; }
      .header__container .header .header__linksresponsive .header__link {
        text-align: center;
        color: #195f5d;
        display: block;
        font-weight: bolder;
        font-size: 12px;
        text-decoration: none;
        width: 100px;
        position: relative;
        top: 150px;
        left: 300px; }
        .header__container .header .header__linksresponsive .header__link:hover {
          color: #2e9794; }
    .header__container .header .header__links {
      position: absolute;
      right: 15%;
      top: 30px; }
      .header__container .header .header__links .header__link {
        margin: 0 30px;
        font-weight: bolder;
        font-size: 12px;
        text-decoration: none;
        color: #2a9794; }
        .header__container .header .header__links .header__link:hover {
          color: #6fb048; }
      .header__container .header .header__links .header-getstarted {
        display: inline-block;
        padding: 7.5px 15px;
        background-color: #6fb048;
        color: white;
        font-weight: bolder;
        font-size: 12px; }
      .header__container .header .header__links .icon {
        display: none; }

.map {
  margin: 0;
  height: auto; }
  .map .map__image {
    width: 100%;
    height: auto; }

.get {
  width: 100%;
  height: auto;
  padding: 75px; }
  .get .get__headline {
    font-size: 30px;
    color: #0f5f5c;
    margin-bottom: 15px;
    text-align: center; }
  .get .get-underscore {
    width: 50px;
    height: 1px;
    margin: auto;
    background-color: #6fb048;
    margin-bottom: 15px; }
  .get .get__text {
    padding: 0 0;
    color: #0f5f5c;
    line-height: 20px;
    margin-bottom: 100px;
    text-align: center; }
  .get .get__container {
    margin: 0;
    padding: 0 20%; }
    .get .get__container .get__inputs .get__input {
      width: 90%;
      padding: 10px;
      margin-bottom: 25px;
      border: 1px solid #0f5f5c7c;
      color: #2a9794; }
    .get .get__container .get__inputs .get__link {
      text-decoration: none;
      background-color: #6fb048;
      padding: 10px 30px;
      color: white;
      -webkit-border-radius: 2.5px;
              border-radius: 2.5px; }
    .get .get__container .get__inputs .get__input-message {
      width: 90%;
      padding: 10px;
      margin-bottom: 35px;
      height: 120px;
      border: 1px solid #0f5f5c7c;
      color: #2a9794; }
    .get .get__container .get-contacts {
      border: 1px dashed #0f5f5c7c;
      height: 250px;
      padding: 40px; }
      .get .get__container .get-contacts .get-contacts__headline {
        color: #0f5f5c;
        font-size: 20px; }
      .get .get__container .get-contacts .get-contacts__container {
        color: #0f5f5c; }
        .get .get__container .get-contacts .get-contacts__container .get-contacts__image {
          padding-bottom: 30px; }
        .get .get__container .get-contacts .get-contacts__container .get-contacts__text {
          display: inline-block;
          line-height: 20px;
          margin-top: 15px;
          margin-left: 10px; }
        .get .get__container .get-contacts .get-contacts__container .get-contacts__text_weight {
          display: inline-block;
          font-weight: bolder;
          margin-top: 10px;
          margin-left: 10px; }

.download {
  margin: 0;
  position: relative; }
  .download .download__image {
    width: 100%; }
  .download .download__headline {
    position: absolute;
    left: 15%;
    top: 80px;
    color: #0f5f5c;
    font-size: 30px; }
  .download .download__text {
    position: absolute;
    left: 15%;
    bottom: 70px;
    color: #0f5f5c;
    font-size: 16px; }
  .download .download__link {
    text-decoration: none;
    position: absolute;
    right: 15%;
    bottom: 70px;
    color: white;
    padding: 15px 25px;
    background-color: #6fb048; }
    .download .download__link:hover {
      -webkit-box-shadow: 0 0 10px 3px #6fb048;
              box-shadow: 0 0 10px 3px #6fb048; }

.contacts {
  margin: 0;
  height: auto;
  padding: 75px 15%; }
  .contacts .contacts__container {
    padding: 0; }
    .contacts .contacts__container .contacts__headline-wapik {
      color: #0f5f5c;
      font-weight: bolder;
      font-size: 18px;
      margin-bottom: 10px; }
    .contacts .contacts__container .contacts__headline {
      color: #0f5f5c;
      font-weight: bolder;
      margin-bottom: 10px; }
    .contacts .contacts__container .contacts__text {
      line-height: 30px;
      color: #0f5f5c; }
      .contacts .contacts__container .contacts__text .contacts__text_span {
        font-weight: bolder; }
    .contacts .contacts__container .contacts__text-kalamazoo {
      color: #0f5f5c; }
    .contacts .contacts__container .contacts__link {
      display: block;
      color: #0f5f5c;
      text-decoration: none;
      margin: 17.5px 0; }
      .contacts .contacts__container .contacts__link:hover {
        color: #71ab47; }
    .contacts .contacts__container .contacts__text-newsletter {
      color: #0f5f5c;
      line-height: 20px;
      margin-bottom: 20px; }
    .contacts .contacts__container .contacts__input {
      width: 75%;
      color: #2a9794;
      height: 40px;
      padding-left: 10px;
      background-color: #eef1ec;
      border: none; }
    .contacts .contacts__container .contacts__input__image {
      position: absolute;
      right: 95px;
      top: 95px; }

.links {
  margin: 0;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 30px;
  position: relative;
  height: auto; }
  .links .links__text {
    color: #0f5f5c; }
  .links .links__image {
    position: absolute;
    right: 15%; }

@media screen and (max-width: 1389px) {
  .get .get__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .get .get__container .get__inputs {
      margin-bottom: 40px; }
      .get .get__container .get__inputs .get__input {
        width: 150%; }
      .get .get__container .get__inputs .get__input-message {
        width: 150%; }
    .get .get__container .get-contacts .get-contacts__container .get-contacts__image {
      display: none; }
    .get .get__container .get-contacts .get-contacts__container .get-contacts-container__image {
      display: none; } }

@media screen and (max-width: 1376px) {
  .contacts .contacts__container .contacts__input__image {
    display: none; } }

@media screen and (max-width: 1302px) {
  .get .get__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .get .get__container .get__inputs {
      margin-bottom: 40px; }
    .get .get__container .get-contacts {
      display: none; } }

@media screen and (max-width: 1300px) {
  .header__container {
    height: 185px; }
    .header__container .header .header__linksresponsive {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative;
      top: -25px; }
      .header__container .header .header__linksresponsive .header-getstarted {
        display: none; }
      .header__container .header .header__linksresponsive .header__link {
        text-align: center;
        display: block;
        font-weight: bolder;
        font-size: 12px;
        text-decoration: none;
        color: #2a9794;
        width: 100px;
        position: relative;
        top: 50px;
        left: 0%; }
        .header__container .header .header__linksresponsive .header__link:hover {
          color: #1a4e4d; }
      .header__container .header .header__linksresponsive .icon {
        display: block;
        font-size: 20px;
        color: #2a9794;
        text-decoration: none;
        position: relative;
        top: -45px;
        left: 97%;
        width: 20px; }
      .header__container .header .header__linksresponsive .icon:hover {
        color: #195553; }
    .header__container .header .header__links {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      top: 60px; }
      .header__container .header .header__links .header__link {
        display: none; }
      .header__container .header .header__links .icon {
        display: block;
        font-size: 20px;
        color: #2a9794;
        text-decoration: none;
        position: relative;
        top: -27.5px; }
      .header__container .header .header__links .icon:hover {
        color: #195553; }
    .header__container .header .header__links {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      top: 60px; }
      .header__container .header .header__links .header__link {
        text-align: center;
        margin: 5px 0; }
      .header__container .header .header__links .header-getstarted {
        display: none; } }

@media screen and (max-width: 1240px) {
  .download .download__headline {
    left: 1%; }
  .download .download__text {
    left: 1%; }
  .download .download__link {
    right: 1%; } }

@media screen and (max-width: 890px) {
  .download .download__link {
    top: 5%;
    height: 40px; } }

@media screen and (max-width: 767px) {
  .contacts {
    display: none; }
  .links {
    padding-top: 20px;
    padding-bottom: 45px;
    position: relative;
    height: auto; }
    .links .links__text {
      display: none; }
    .links .links__image {
      left: 37.5%; } }

@media screen and (max-width: 688px) {
  .get .get__container {
    padding: 0 0; }
    .get .get__container .get__inputs .get__input {
      width: 150%; }
    .get .get__container .get__inputs .get__input-message {
      width: 150%; } }

@media screen and (max-width: 610px) {
  .download .download__headline {
    font-size: -webkit-calc(100vw / 17.5);
    font-size: calc(100vw / 17.5); }
  .download .download__text {
    display: none; } }

@media screen and (max-width: 500px) {
  .header__container .header .header__container-phone {
    margin: 22.5px 0px 0px 0;
    padding: 0;
    border-left: none;
    z-index: 3; }
  .header__container .cras .cras__headline {
    font-size: -webkit-calc(100vw / 25);
    font-size: calc(100vw / 25); } }

@media screen and (max-width: 455px) {
  .get {
    padding: 75px 1px; }
    .get .get__container {
      padding: 0 0; }
      .get .get__container .get__inputs .get__input {
        width: 155%; }
      .get .get__container .get__inputs .get__input-message {
        width: 155%; } }

@media screen and (max-width: 320px) {
  .download .download__headline {
    font-size: -webkit-calc(100vw / 20);
    font-size: calc(100vw / 20); }
  .download .download__link {
    right: 6%; }
  .links .links__image {
    left: 17.5%; } }
