/*STYLE SCSS*/
body {
  font-family: Roboto;
  font-size: 14px; }

.header__container {
  margin: 0;
  position: relative; }
  .header__container .box-shadow {
    width: 100%;
    -webkit-box-shadow: 0 0 200px 50px black;
            box-shadow: 0 0 200px 50px black;
    z-index: 2; }
  .header__container .header__image {
    width: 100%; }
  .header__container .header {
    position: absolute;
    width: 100%;
    padding: 30px 15% 0 15%;
    z-index: 3; }
    .header__container .header .header-logo {
      font-weight: bolder;
      color: white;
      font-size: 25px;
      border-bottom: 1px solid #7d8e8e;
      padding-bottom: 25px; }
    .header__container .header .header__container-phone {
      position: absolute;
      top: 35px;
      margin-left: 125px;
      display: inline-block;
      border-left: 1px solid #7d8e8e;
      padding-left: 40px; }
      .header__container .header .header__container-phone .header-phone {
        display: inline-block;
        margin-left: 5px;
        color: white;
        font-weight: bolder; }
    .header__container .header .header__linksresponsive {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative;
      top: -117.5px; }
      .header__container .header .header__linksresponsive .header-getstarted {
        display: none; }
      .header__container .header .header__linksresponsive .header__link {
        text-align: center;
        color: #eef1eccc;
        display: block;
        font-weight: bolder;
        font-size: 12px;
        text-decoration: none;
        color: #7d8e8e;
        width: 100px;
        position: relative;
        top: 130px;
        left: 0%; }
        .header__container .header .header__linksresponsive .header__link:hover {
          color: white; }
      .header__container .header .header__linksresponsive .icon {
        display: block;
        font-size: 20px;
        color: #eef1eccc;
        text-decoration: none;
        position: relative;
        top: -53px;
        left: 97.8%;
        width: 20px; }
      .header__container .header .header__linksresponsive .icon:hover {
        color: white; }
    .header__container .header .header__links {
      position: absolute;
      right: 15%;
      top: 30px; }
      .header__container .header .header__links .header__link {
        margin: 0 30px;
        font-weight: bolder;
        font-size: 12px;
        text-decoration: none;
        color: #7d8e8e; }
        .header__container .header .header__links .header__link:hover {
          color: white; }
      .header__container .header .header__links .header-getstarted {
        display: inline-block;
        padding: 7.5px 15px;
        background-color: #7d8e8e;
        color: white;
        font-weight: bolder;
        font-size: 12px; }
      .header__container .header .header__links .icon {
        display: none; }
  .header__container .cras {
    text-align: left;
    position: absolute;
    width: 100%;
    top: 300px;
    padding: 0 15%; }
    .header__container .cras .cras__headline {
      font-size: 40px;
      color: white;
      margin-bottom: 15px; }
    .header__container .cras .cras__text {
      margin-bottom: 35px;
      color: white; }
    .header__container .cras .cras__link {
      text-decoration: none;
      color: white;
      font-weight: bolder;
      background-color: #6fb048;
      padding: 15px 45px;
      font-size: 12px; }
      .header__container .cras .cras__link:hover {
        -webkit-box-shadow: 0 0 25px 5px #6fb048;
                box-shadow: 0 0 25px 5px #6fb048; }

@media screen and (max-width: 500px) {
  .header__container .header .header__container-phone {
    margin: 20px 0px 0px 0;
    padding: 0;
    border-left: none;
    z-index: 3; } }

.about {
  width: 100%;
  height: auto;
  padding: 75px;
  text-align: center; }
  .about .about__headline {
    font-size: 30px;
    color: #0f5f5c;
    margin-bottom: 15px; }
  .about .about-underscore {
    width: 50px;
    height: 1px;
    margin: auto;
    background-color: #6fb048;
    margin-bottom: 15px; }
  .about .about__text {
    padding: 0 27.5%;
    color: #0f5f5c;
    line-height: 20px;
    margin-bottom: 100px; }
  .about .about-flex {
    margin: 0;
    padding: 0 15%; }
    .about .about-flex .about__container .about__image-lonicons {
      margin-bottom: 25px; }
    .about .about-flex .about__container .about__image-design {
      margin-bottom: 21px; }
    .about .about-flex .about__container .about__image-sketch {
      margin-bottom: 29px; }
    .about .about-flex .about__container .about__container__headline {
      color: #0f5f5c;
      margin-bottom: 15px;
      font-weight: bolder; }
    .about .about-flex .about__container .about__container__text {
      color: #0f5f5c;
      line-height: 20px; }

.pixel {
  margin: 0;
  margin-bottom: 100px;
  padding: 0 15%; }
  .pixel .pixel__container-cross {
    margin-top: 30px; }
    .pixel .pixel__container-cross .pixel__headline {
      display: inline-block;
      padding-bottom: 10px;
      padding-left: 10px;
      position: relative;
      bottom: 10px;
      color: #0f5f5c;
      font-weight: bolder; }
    .pixel .pixel__container-cross .pixel__text {
      color: #0f5f5c;
      line-height: 25px; }
  .pixel .pixel__container-creative {
    margin-top: 21px; }
    .pixel .pixel__container-creative .pixel__headline {
      display: inline-block;
      padding-bottom: 10px;
      padding-left: 10px;
      position: relative;
      bottom: 10px;
      color: #0f5f5c;
      font-weight: bolder; }
    .pixel .pixel__container-creative .pixel__text {
      color: #0f5f5c;
      line-height: 25px; }
  .pixel .pixel__container-pixel {
    margin-top: 30px; }
    .pixel .pixel__container-pixel .pixel__headline {
      display: inline-block;
      padding-bottom: 10px;
      padding-left: 10px;
      position: relative;
      bottom: 10px;
      color: #0f5f5c;
      font-weight: bolder; }
    .pixel .pixel__container-pixel .pixel__text {
      color: #0f5f5c;
      line-height: 25px; }
  .pixel .pixel__container-free {
    margin-top: 24px; }
    .pixel .pixel__container-free .pixel__headline {
      display: inline-block;
      padding-bottom: 10px;
      padding-left: 10px;
      position: relative;
      bottom: 10px;
      color: #0f5f5c;
      font-weight: bolder; }
    .pixel .pixel__container-free .pixel__text {
      color: #0f5f5c;
      line-height: 25px; }

@media screen and (max-width: 730px) {
  .pixel {
    margin: 0;
    margin-bottom: 100px;
    padding: 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .pixel .pixel__container-cross {
      margin-top: 30px;
      padding: 0; }
      .pixel .pixel__container-cross .pixel__headline {
        display: inline-block;
        padding-bottom: 10px;
        padding-left: 0px;
        position: relative;
        bottom: 10px;
        color: #0f5f5c;
        font-weight: bolder; }
      .pixel .pixel__container-cross .pixel__text {
        color: #0f5f5c;
        line-height: 25px; }
    .pixel .pixel__container-creative {
      margin-top: 21px;
      padding: 0; }
      .pixel .pixel__container-creative .pixel__headline {
        display: inline-block;
        padding-bottom: 10px;
        padding-left: 0px;
        position: relative;
        bottom: 10px;
        color: #0f5f5c;
        font-weight: bolder; }
      .pixel .pixel__container-creative .pixel__text {
        color: #0f5f5c;
        line-height: 25px; }
    .pixel .pixel__container-pixel {
      margin-top: 30px;
      padding: 0; }
      .pixel .pixel__container-pixel .pixel__headline {
        display: inline-block;
        padding-bottom: 10px;
        padding-left: 0px;
        position: relative;
        bottom: 10px;
        color: #0f5f5c;
        font-weight: bolder; }
      .pixel .pixel__container-pixel .pixel__text {
        color: #0f5f5c;
        line-height: 25px; }
    .pixel .pixel__container-free {
      margin-top: 24px;
      padding: 0; }
      .pixel .pixel__container-free .pixel__headline {
        display: inline-block;
        padding-bottom: 10px;
        padding-left: 0px;
        position: relative;
        bottom: 10px;
        color: #0f5f5c;
        font-weight: bolder; }
      .pixel .pixel__container-free .pixel__text {
        color: #0f5f5c;
        line-height: 25px; }
    .pixel .pixel__container__image {
      display: none; } }

.looking {
  background-color: #eef1ec;
  width: 100%;
  height: auto;
  padding: 75px 20% 0 20%;
  text-align: center; }
  .looking .looking__headline {
    font-size: 30px;
    color: #0f5f5c;
    margin-bottom: 15px; }
  .looking .looking-underscore {
    width: 50px;
    height: 1px;
    margin: auto;
    background-color: #6fb048;
    margin-bottom: 15px; }
  .looking .looking__text {
    padding: 0 27.5%;
    color: #0f5f5c;
    line-height: 20px;
    margin-bottom: 100px; }
  .looking .looking__container {
    margin: 0; }
    .looking .looking__container .looking__container-phone .looking-phone__image {
      max-width: 100%; }
    .looking .looking__container .looking__container-Responsive {
      margin-top: 120px;
      text-align: left; }
      .looking .looking__container .looking__container-Responsive .looking-Responsive__headline {
        font-size: 30px;
        margin-bottom: 20px;
        color: #0f5f5c; }
      .looking .looking__container .looking__container-Responsive .looking-Responsive__text {
        color: #0f5f5c;
        line-height: 20px;
        margin-bottom: 20px; }
      .looking .looking__container .looking__container-Responsive .looking-Responsive__text-image {
        color: #0f5f5c;
        position: relative;
        left: 35px;
        bottom: 22.5px; }

@media screen and (max-width: 1448px) {
  .looking {
    background-color: #eef1ec;
    width: 100%;
    height: auto;
    padding: 75px 0 0 0;
    text-align: center; }
    .looking .looking__headline {
      font-size: 30px;
      color: #0f5f5c;
      margin-bottom: 15px; }
    .looking .looking-underscore {
      width: 50px;
      height: 1px;
      margin: auto;
      background-color: #6fb048;
      margin-bottom: 15px; }
    .looking .looking__text {
      padding: 0 27.5%;
      color: #0f5f5c;
      line-height: 20px;
      margin-bottom: 100px; }
    .looking .looking__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .looking .looking__container .looking__container-phone {
        padding: 0; }
        .looking .looking__container .looking__container-phone .looking-phone__image {
          max-width: 100%; }
      .looking .looking__container .looking__container-Responsive {
        margin-top: 0;
        text-align: center;
        padding: 0; }
        .looking .looking__container .looking__container-Responsive .looking-Responsive__headline {
          font-size: 30px;
          margin-bottom: 20px;
          color: #0f5f5c; }
        .looking .looking__container .looking__container-Responsive .looking-Responsive__text {
          color: #0f5f5c;
          line-height: 20px;
          margin-bottom: 20px; }
        .looking .looking__container .looking__container-Responsive .looking-Responsive__image {
          display: none; }
        .looking .looking__container .looking__container-Responsive .looking-Responsive__text-image {
          color: #0f5f5c;
          display: inline-block;
          margin-bottom: 20px;
          margin-left: 0;
          left: 0; } }

.director {
  padding: 150px 20%;
  margin: 0; }
  .director .director__container {
    padding: 100px 50px; }
    .director .director__container .director__text {
      font-size: 26px;
      line-height: 35px;
      color: #259793;
      margin-bottom: 20px; }
    .director .director__container .director__text-name {
      margin-bottom: 10px;
      color: #6fb048; }
    .director .director__container .director__text-post {
      color: #0f5f5c; }
  .director .director__container-photo .director-photo__image {
    max-width: 100%;
    height: auto; }

@media screen and (max-width: 1448px) {
  .director {
    padding: 50px 0;
    margin: 0; }
    .director .director__container {
      padding: 100px 50px; }
      .director .director__container .director__text {
        font-size: -webkit-calc(100vw / 50);
        font-size: calc(100vw / 50);
        line-height: 35px;
        color: #259793;
        margin-bottom: 20px; }
      .director .director__container .director__text-name {
        margin-bottom: 10px;
        color: #6fb048; }
      .director .director__container .director__text-post {
        color: #0f5f5c; }
    .director .director__container-photo .director-photo__image {
      max-width: 100%;
      height: auto; } }

@media screen and (max-width: 600px) {
  .director {
    padding: 50px 0;
    margin: 0; }
    .director .director__container {
      padding: 30px 10px; }
      .director .director__container .director__text {
        font-size: -webkit-calc(100vw / 30);
        font-size: calc(100vw / 30);
        line-height: 20px;
        color: #259793;
        margin-bottom: 20px; }
      .director .director__container .director__text-name {
        margin-bottom: 10px;
        color: #6fb048; }
      .director .director__container .director__text-post {
        color: #0f5f5c; }
    .director .director__container-photo .director-photo__image {
      max-width: 100%;
      height: auto; } }

.built {
  padding: 75px 20%;
  margin: 0;
  background-color: #eef1ec; }
  .built .built__container {
    padding: 100px 50px; }
    .built .built__container .built__headline {
      font-size: 26px;
      line-height: 35px;
      color: #0f5f5c;
      margin-bottom: 15px; }
    .built .built__container .built__text {
      line-height: 25px;
      color: #259793;
      margin-bottom: 20px; }
  .built .built__container-world .built-world {
    width: 100%;
    height: 100%; }

@media screen and (max-width: 1448px) {
  .built {
    padding: 75px 20%;
    margin: 0;
    background-color: #eef1ec;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .built .built__container {
      padding: 100px 50px; }
      .built .built__container .built__headline {
        font-size: 26px;
        line-height: 35px;
        color: #0f5f5c;
        margin-bottom: 15px; }
      .built .built__container .built__text {
        line-height: 25px;
        color: #259793;
        margin-bottom: 20px; } }

@media screen and (max-width: 1000px) {
  .built {
    padding: 75px 0; }
    .built .built__container {
      padding: 100px 0;
      padding-bottom: 20px; }
      .built .built__container .built__headline {
        font-size: 26px;
        line-height: 35px;
        color: #0f5f5c;
        margin-bottom: 15px; }
      .built .built__container .built__text {
        line-height: 25px;
        color: #259793;
        margin-bottom: 20px; }
    .built .built__container-world {
      padding: 0; }
      .built .built__container-world .built-world {
        padding: 0; } }

.get {
  width: 100%;
  height: auto;
  padding: 75px 0; }
  .get .get__headline {
    font-size: 30px;
    color: #0f5f5c;
    margin-bottom: 15px;
    text-align: center; }
  .get .get-underscore {
    width: 50px;
    height: 1px;
    margin: auto;
    background-color: #6fb048;
    margin-bottom: 15px; }
  .get .get__text {
    padding: 0 0;
    color: #0f5f5c;
    line-height: 20px;
    margin-bottom: 50px;
    text-align: center; }
  .get .get__container {
    margin: 0;
    padding: 0 27.5%; }
    .get .get__container .get__container-content {
      text-align: center;
      margin: 0;
      border: 1px solid #0f5f5c56;
      background-color: white;
      height: 320px; }
      .get .get__container .get__container-content .get__container__headline {
        font-weight: bolder;
        color: #6fb048;
        margin: 20px 0; }
      .get .get__container .get__container-content .get__container-cost {
        font-weight: bolder;
        font-size: 60px;
        color: #0f5f5c; }
      .get .get__container .get__container-content .get__container-month {
        font-weight: bolder;
        color: #0f5f5c;
        margin-bottom: 25px; }
      .get .get__container .get__container-content .get__container-justo {
        color: #0f5f5c;
        margin-bottom: 10px; }
      .get .get__container .get__container-content .get__container-mollis {
        color: #0f5f5c;
        margin-bottom: 10px; }
      .get .get__container .get__container-content .get__container-ultricies {
        color: #0f5f5c;
        margin-bottom: 10px; }
      .get .get__container .get__container-content .get__container-cras {
        color: #0f5f5c;
        margin-bottom: 30px; }
      .get .get__container .get__container-content .get__link {
        text-decoration: none;
        font-weight: bolder;
        background-color: #539b98;
        color: white;
        padding: 10px 20px; }
        .get .get__container .get__container-content .get__link:hover {
          background-color: #6fb048; }

.plans {
  padding: 75px 15%; }
  .plans .plans__headline {
    font-size: 30px;
    color: #0f5f5c;
    margin-bottom: 15px;
    text-align: center; }
  .plans .plans-underscore {
    width: 50px;
    height: 1px;
    margin: auto;
    background-color: #6fb048;
    margin-bottom: 40px; }
  .plans .plans__container {
    margin: 0; }
    .plans .plans__container .plans-content__image {
      position: relative;
      top: 7.5px; }
    .plans .plans__container .plans-content__text {
      display: inline-block;
      margin-bottom: 10px;
      margin-left: 5px;
      color: #0f5f5c; }
  .plans .help {
    margin-top: 40px;
    text-align: center; }
    .plans .help .help__image {
      margin-bottom: 10px; }
    .plans .help .help__headline {
      font-size: 40px;
      color: #6fb048;
      margin-bottom: 20px; }
    .plans .help .help-underscore {
      width: 50px;
      height: 1px;
      margin: auto;
      background-color: #6fb048;
      margin-bottom: 20px; }
    .plans .help .help__text {
      color: #0f5f5c;
      margin-bottom: 20px; }
    .plans .help .help-mail {
      color: #0f5f5c;
      font-weight: bolder;
      font-size: 16px; }

.download {
  margin: 0;
  position: relative; }
  .download .download__image {
    width: 100%; }
  .download .download__headline {
    position: absolute;
    left: 15%;
    top: 80px;
    color: #0f5f5c;
    font-size: 30px; }
  .download .download__text {
    position: absolute;
    left: 15%;
    bottom: 70px;
    color: #0f5f5c;
    font-size: 16px; }
  .download .download__link {
    text-decoration: none;
    position: absolute;
    right: 15%;
    bottom: 70px;
    color: white;
    padding: 15px 25px;
    background-color: #6fb048; }
    .download .download__link:hover {
      -webkit-box-shadow: 0 0 10px 3px #6fb048;
              box-shadow: 0 0 10px 3px #6fb048; }

.contacts {
  margin: 0;
  height: auto;
  padding: 75px 15%; }
  .contacts .contacts__container {
    padding: 0; }
    .contacts .contacts__container .contacts__headline-wapik {
      color: #0f5f5c;
      font-weight: bolder;
      font-size: 18px;
      margin-bottom: 10px; }
    .contacts .contacts__container .contacts__headline {
      color: #0f5f5c;
      font-weight: bolder;
      margin-bottom: 10px; }
    .contacts .contacts__container .contacts__text {
      line-height: 30px;
      color: #0f5f5c; }
      .contacts .contacts__container .contacts__text .contacts__text_span {
        font-weight: bolder; }
    .contacts .contacts__container .contacts__text-kalamazoo {
      color: #0f5f5c; }
    .contacts .contacts__container .contacts__link {
      display: block;
      color: #0f5f5c;
      text-decoration: none;
      margin: 17.5px 0; }
      .contacts .contacts__container .contacts__link:hover {
        color: #71ab47; }
    .contacts .contacts__container .contacts__text-newsletter {
      color: #0f5f5c;
      line-height: 20px;
      margin-bottom: 20px; }
    .contacts .contacts__container .contacts__input {
      width: 75%;
      color: #2a9794;
      height: 40px;
      padding-left: 10px;
      background-color: #eef1ec;
      border: none; }
    .contacts .contacts__container .contacts__input__image {
      position: absolute;
      right: 95px;
      top: 95px; }

.links {
  margin: 0;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 30px;
  position: relative;
  height: auto; }
  .links .links__text {
    color: #0f5f5c; }
  .links .links__image {
    position: absolute;
    right: 15%; }

@media screen and (max-width: 1300px) {
  .header__container .header .header-logo {
    padding-bottom: 100px; }
  .header__container .header .header__linksresponsive {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: -117.5px; }
    .header__container .header .header__linksresponsive .header-getstarted {
      display: none; }
    .header__container .header .header__linksresponsive .header__link {
      text-align: center;
      color: #eef1eccc;
      display: block;
      font-weight: bolder;
      font-size: 12px;
      text-decoration: none;
      color: #7d8e8e;
      width: 100px;
      position: relative;
      top: 50px;
      left: 0%; }
      .header__container .header .header__linksresponsive .header__link:hover {
        color: white; }
    .header__container .header .header__linksresponsive .icon {
      display: block;
      font-size: 20px;
      color: #eef1eccc;
      text-decoration: none;
      position: relative;
      top: -53px;
      left: 97.8%;
      width: 20px; }
    .header__container .header .header__linksresponsive .icon:hover {
      color: white; }
  .header__container .header .header__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 60px; }
    .header__container .header .header__links .header__link {
      display: none; }
    .header__container .header .header__links .icon {
      display: block;
      font-size: 20px;
      color: #eef1eccc;
      text-decoration: none;
      position: relative;
      top: -27.5px; }
    .header__container .header .header__links .icon:hover {
      color: white; }
  .about {
    margin-top: 475px; }
    .about .about__headline {
      font-size: 30px;
      color: #0f5f5c;
      margin-bottom: 15px; }
    .about .about-underscore {
      width: 50px;
      height: 1px;
      margin: auto;
      background-color: #6fb048;
      margin-bottom: 15px; }
    .about .about__text {
      padding: 0 27.5%;
      color: #0f5f5c;
      line-height: 20px;
      margin-bottom: 100px; }
    .about .about-flex {
      margin: 0;
      padding: 0 15%; }
      .about .about-flex .about__container .about__image-lonicons {
        margin-bottom: 25px; }
      .about .about-flex .about__container .about__image-design {
        margin-bottom: 21px; }
      .about .about-flex .about__container .about__image-sketch {
        margin-bottom: 29px; }
      .about .about-flex .about__container .about__container__headline {
        color: #0f5f5c;
        margin-bottom: 15px;
        font-weight: bolder; }
      .about .about-flex .about__container .about__container__text {
        color: #0f5f5c;
        line-height: 20px; } }

@media screen and (max-width: 768px) {
  .about {
    padding: 75px 10px; }
    .about .about__text {
      padding: 0; }
    .about .about-flex {
      padding: 0; } }

@media screen and (max-width: 1389px) {
  .get .get__container {
    margin: 0;
    padding: 0 27.5%; }
    .get .get__container .get__container-content {
      padding-bottom: 30px; }
      .get .get__container .get__container-content .get__container__headline {
        font-weight: bolder;
        color: #6fb048;
        margin: 20px 0; }
      .get .get__container .get__container-content .get__container-cost {
        font-weight: bolder;
        font-size: 60px;
        color: #0f5f5c; }
      .get .get__container .get__container-content .get__container-month {
        font-weight: bolder;
        color: #0f5f5c;
        margin-bottom: 25px; }
      .get .get__container .get__container-content .get__container-justo {
        color: #0f5f5c;
        margin-bottom: 10px; }
      .get .get__container .get__container-content .get__container-mollis {
        color: #0f5f5c;
        margin-bottom: 10px; }
      .get .get__container .get__container-content .get__container-ultricies {
        color: #0f5f5c;
        margin-bottom: 10px; }
      .get .get__container .get__container-content .get__container-cras {
        color: #0f5f5c;
        margin-bottom: 20px; }
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  .get__inputs {
    margin-bottom: 40px; }
  .get-contacts .get-contacts__container .get-contacts__image {
    display: none; }
  .get-contacts .get-contacts__container .get-contacts-container__image {
    display: none; } }

@media screen and (max-width: 1376px) {
  .contacts .contacts__container .contacts__input__image {
    display: none; } }

@media screen and (max-width: 1302px) {
  .get .get__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .get .get__container .get__inputs {
      margin-bottom: 40px; }
    .get .get__container .get-contacts {
      display: none; } }

@media screen and (max-width: 1301px) {
  .plans {
    padding: 75px 1px; } }

@media screen and (max-width: 1300px) {
  .header__container {
    height: 185px;
    border-bottom: 1px solid #2a9794; }
    .header__container .header .header-logo {
      border-bottom: none; }
    .header__container .header .header__links {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      top: 60px; }
      .header__container .header .header__links .header__link {
        text-align: center;
        margin: 5px 0; }
      .header__container .header .header__links .header-getstarted {
        display: none; } }

@media screen and (max-width: 590px) {
  .header__container .header .header-logo {
    padding-bottom: 100px; }
  .header__container .header .header__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 60px; }
    .header__container .header .header__links .header__link {
      text-align: center;
      margin: 5px 0;
      color: #eef1eccc;
      display: none; }
    .header__container .header .header__links .header-getstarted {
      display: none; }
    .header__container .header .header__links .icon {
      display: block;
      font-size: 20px;
      color: #eef1eccc;
      text-decoration: none;
      position: relative;
      top: 0; }
    .header__container .header .header__links .icon:hover {
      color: white; } }

@media screen and (max-width: 1240px) {
  .download .download__headline {
    left: 1%; }
  .download .download__text {
    left: 1%; }
  .download .download__link {
    right: 1%; } }

@media screen and (max-width: 918px) {
  .plans {
    padding: 75px 0; }
    .plans .plans__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0; }
      .plans .plans__container .plans-content__image {
        position: relative;
        top: 7.5px; }
      .plans .plans__container .plans-content__text {
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 5px;
        color: #0f5f5c; }
    .plans .help {
      margin-top: 40px;
      text-align: center; }
      .plans .help .help__image {
        margin-bottom: 10px; }
      .plans .help .help__headline {
        font-size: 40px;
        color: #6fb048;
        margin-bottom: 20px; }
      .plans .help .help-underscore {
        width: 50px;
        height: 1px;
        margin: auto;
        background-color: #6fb048;
        margin-bottom: 20px; }
      .plans .help .help__text {
        color: #0f5f5c;
        margin-bottom: 20px; }
      .plans .help .help-mail {
        color: #0f5f5c;
        font-weight: bolder;
        font-size: 16px; } }

@media screen and (max-width: 890px) {
  .download .download__link {
    top: 5%;
    height: 40px; } }

@media screen and (max-width: 767px) {
  .contacts {
    display: none; }
  .links {
    padding-top: 20px;
    padding-bottom: 45px;
    position: relative;
    height: auto; }
    .links .links__text {
      display: none; }
    .links .links__image {
      left: 37.5%; } }

@media screen and (max-width: 688px) {
  .get .get__container {
    padding: 0 0; }
    .get .get__container .get__inputs .get__input {
      width: 100%; }
    .get .get__container .get__inputs .get__input-message {
      width: 100%; } }

@media screen and (max-width: 610px) {
  .download .download__headline {
    font-size: -webkit-calc(100vw / 17.5);
    font-size: calc(100vw / 17.5); }
  .download .download__text {
    display: none; } }

@media screen and (max-width: 420px) {
  .header__container .cras .cras__headline {
    font-size: -webkit-calc(100vw / 10);
    font-size: calc(100vw / 10); } }

@media screen and (max-width: 455px) {
  .get {
    padding: 75px 1px; }
    .get .get__container {
      padding: 0 0; }
      .get .get__container .get__inputs .get__input {
        width: 100%; }
      .get .get__container .get__inputs .get__input-message {
        width: 100%; } }

@media screen and (max-width: 326px) {
  .plans .plans__container .plans-content__text {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    color: #0f5f5c;
    font-size: 12px; } }

@media screen and (max-width: 320px) {
  .download .download__headline {
    font-size: -webkit-calc(100vw / 20);
    font-size: calc(100vw / 20); }
  .download .download__link {
    right: 6%; }
  .links .links__image {
    left: 17.5%; } }
