/*STYLE SCSS*/

body{
    font-family: Roboto;
    font-size: 14px;
}

.header__container{
    margin: 0;
    position: relative;
    .box-shadow{
        width: 100%;
        box-shadow: 0 0 200px 50px black;
        z-index: 2;
    }
    .header__image{
        width: 100%;
    }
    .header{
        position: absolute;
        width: 100%;
        padding: 30px 15% 0 15%;
        z-index: 3;
        .header-logo{
            font-weight: bolder;
            color: white;
            font-size: 25px;
            border-bottom: 1px solid #7d8e8e;
            padding-bottom: 25px;
        }
        .header__container-phone{
            position: absolute;
            top: 35px;
            margin-left: 125px;
            display: inline-block;
            border-left: 1px solid #7d8e8e;
            padding-left: 40px;
            .header-phone__image{
            }
            .header-phone{
                display: inline-block;
                margin-left: 5px;
                color: white;
                font-weight: bolder;
            }
        }.header__linksresponsive{
            display: flex;
            flex-direction: column;
            position: relative;
            top: -117.5px;
            .header-getstarted{
                display: none;
            }
            .header__link{
                text-align: center;
                color: #eef1eccc;
                display: block;
                font-weight: bolder;
                font-size: 12px;
                text-decoration: none;
                color: #7d8e8e;
                width: 100px;
                position: relative;
                top: 130px;
                left: 0%;
            &:hover{
                color: white;
            }
        }
            .icon{
                display: block;
                font-size: 20px;
                color: #eef1eccc;
                text-decoration: none;
                position: relative;
                top: -53px;
                left: 97.8%;
                width: 20px;
            }
            .icon:hover{
                color: white;
            }
        }
        .header__links{
            position: absolute;
            right: 15%;
            top: 30px;
            .header__link{
                margin: 0 30px;
                font-weight: bolder;
                font-size: 12px;
                text-decoration: none;
                color: #7d8e8e;
                &:hover{
                    color: white;
                }
            }
            .header-getstarted{
                display: inline-block;
                padding: 7.5px 15px;
                background-color: #7d8e8e;
                color: white;
                font-weight: bolder;
                font-size: 12px;
            }
            .icon{
                display: none;
            }
        }
    }
    .cras{
        text-align: left;
        position: absolute;
        width: 100%;
        top: 300px;
        padding: 0 15%;
        .cras__headline{
            font-size: 40px;
            color: white;
            margin-bottom: 15px;
        }
        .cras__text{
            margin-bottom: 35px;
            color: white;
        }
        .cras__link{
            text-decoration: none;
            color: white;
            font-weight: bolder;
            background-color: #6fb048;
            padding: 15px 45px;
            font-size: 12px;
            &:hover{
                box-shadow: 0 0 25px 5px #6fb048;
            }
        }
    }
}

@media screen and (max-width: 500px){
    .header__container{
        .box-shadow{
        }
        .header__image{
        }
        .header{
            .header-logo{
            }
            .header__container-phone{
                margin: 20px 0px 0px 0;
                padding: 0;
                border-left: none;
                z-index: 3;
                .header-phone__image{
                }
                .header-phone{
                }
            }
            .header__links{
                .header__link{
                }
                .header-getstarted{
                }
            }
        }
        .cras{
            .cras__headline{
            }
            .cras__link{
            }
        }
    }
}

.about{
    width: 100%;
    height: auto;
    padding: 75px;
    text-align: center;
    .about__headline{
        font-size: 30px;
        color: #0f5f5c;
        margin-bottom: 15px;
    }
    .about-underscore{
        width: 50px;
        height: 1px;
        margin: auto;
        background-color: #6fb048;
        margin-bottom: 15px;
    }
    .about__text{
        padding: 0 27.5%;
        color: #0f5f5c;
        line-height: 20px;
        margin-bottom: 100px;
    }
    .about-flex{
        margin: 0;
        padding: 0 15%;
        .about__container{
            .about__image-lonicons{
                margin-bottom: 25px;
            }
            .about__image-design{
                margin-bottom: 21px;
            }
            .about__image-sketch{
                margin-bottom: 29px;
            }
            .about__container__headline{
                color: #0f5f5c;
                margin-bottom: 15px;
                font-weight: bolder;
            }
            .about__container__text{
                color: #0f5f5c;
                line-height: 20px;
            }
        }
    }
}

.pixel{
    margin: 0;
    margin-bottom: 100px;
    padding: 0 15%;
    .pixel__container-cross{
        margin-top: 30px;
        .pixel__headline{
            display: inline-block;
            padding-bottom: 10px;
            padding-left: 10px;
            position: relative;
            bottom: 10px;
            color: #0f5f5c;
            font-weight: bolder;
        }
        .pixel__text{
            color: #0f5f5c;
            line-height: 25px;
        }
    }
    .pixel__container-creative{
        margin-top: 21px;
        .pixel__headline{
            display: inline-block;
            padding-bottom: 10px;
            padding-left: 10px;
            position: relative;
            bottom: 10px;
            color: #0f5f5c;
            font-weight: bolder;
        }
        .pixel__text{
            color: #0f5f5c;
            line-height: 25px;
        }
    }
    .pixel__container-pixel{
        margin-top: 30px;
        .pixel__headline{
            display: inline-block;
            padding-bottom: 10px;
            padding-left: 10px;
            position: relative;
            bottom: 10px;
            color: #0f5f5c;
            font-weight: bolder;
        }
        .pixel__text{
            color: #0f5f5c;
            line-height: 25px;
        }
    }
    .pixel__container-free{
        margin-top: 24px;
        .pixel__headline{
            display: inline-block;
            padding-bottom: 10px;
            padding-left: 10px;
            position: relative;
            bottom: 10px;
            color: #0f5f5c;
            font-weight: bolder;
        }
        .pixel__text{
            color: #0f5f5c;
            line-height: 25px;
        }
    }
}

@media screen and (max-width: 730px){
    .pixel{
        margin: 0;
        margin-bottom: 100px;
        padding: 0 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .pixel__container-cross{
            margin-top: 30px;
            padding: 0;
            .pixel__headline{
                display: inline-block;
                padding-bottom: 10px;
                padding-left: 0px;
                position: relative;
                bottom: 10px;
                color: #0f5f5c;
                font-weight: bolder;
            }
            .pixel__text{
                color: #0f5f5c;
                line-height: 25px;
            }
        }
        .pixel__container-creative{
            margin-top: 21px;
            padding: 0;
            .pixel__headline{
                display: inline-block;
                padding-bottom: 10px;
                padding-left: 0px;
                position: relative;
                bottom: 10px;
                color: #0f5f5c;
                font-weight: bolder;
            }
            .pixel__text{
                color: #0f5f5c;
                line-height: 25px;
            }
        }
        .pixel__container-pixel{
            margin-top: 30px;
            padding: 0;
            .pixel__headline{
                display: inline-block;
                padding-bottom: 10px;
                padding-left: 0px;
                position: relative;
                bottom: 10px;
                color: #0f5f5c;
                font-weight: bolder;
            }
            .pixel__text{
                color: #0f5f5c;
                line-height: 25px;
            }
        }
        .pixel__container-free{
            margin-top: 24px;
            padding: 0;
            .pixel__headline{
                display: inline-block;
                padding-bottom: 10px;
                padding-left: 0px;
                position: relative;
                bottom: 10px;
                color: #0f5f5c;
                font-weight: bolder;
            }
            .pixel__text{
                color: #0f5f5c;
                line-height: 25px;
            }
        }
        .pixel__container__image{
            display: none;
        }
    }
}

.looking{
    background-color: #eef1ec;
    width: 100%;
    height: auto;
    padding: 75px 20% 0 20%;
    text-align: center;
    .looking__headline{
        font-size: 30px;
        color: #0f5f5c;
        margin-bottom: 15px;
    }
    .looking-underscore{
        width: 50px;
        height: 1px;
        margin: auto;
        background-color: #6fb048;
        margin-bottom: 15px;
    }
    .looking__text{
        padding: 0 27.5%;
        color: #0f5f5c;
        line-height: 20px;
        margin-bottom: 100px;
    }
    .looking__container{
        margin: 0;
        .looking__container-phone{
            .looking-phone__image{
                max-width: 100%;
            }
        }
        .looking__container-Responsive{
            margin-top: 120px;
            text-align: left;
            .looking-Responsive__headline{
                font-size: 30px;
                margin-bottom: 20px;
                color: #0f5f5c;
            }
            .looking-Responsive__text{
                color: #0f5f5c;
                line-height: 20px;
                margin-bottom: 20px;
            }
            .looking-Responsive__image{
            }
            .looking-Responsive__text-image{
                color: #0f5f5c;
                position: relative;
                left: 35px;
                bottom: 22.5px;
            }
        }
    }
} 

@media screen and (max-width: 1448px){
    .looking{
        background-color: #eef1ec;
        width: 100%;
        height: auto;
        padding: 75px 0 0 0;
        text-align: center;
        .looking__headline{
            font-size: 30px;
            color: #0f5f5c;
            margin-bottom: 15px;
        }
        .looking-underscore{
            width: 50px;
            height: 1px;
            margin: auto;
            background-color: #6fb048;
            margin-bottom: 15px;
        }
        .looking__text{
            padding: 0 27.5%;
            color: #0f5f5c;
            line-height: 20px;
            margin-bottom: 100px;
        }
        .looking__container{
            flex-direction: column-reverse;
            align-items: center;
            .looking__container-phone{
                padding: 0;
                .looking-phone__image{
                    max-width: 100%;
                }
            }
            .looking__container-Responsive{
                margin-top: 0;
                text-align: center;
                padding: 0;
                .looking-Responsive__headline{
                    font-size: 30px;
                    margin-bottom: 20px;
                    color: #0f5f5c;
                }
                .looking-Responsive__text{
                    color: #0f5f5c;
                    line-height: 20px;
                    margin-bottom: 20px;
                }
                .looking-Responsive__image{
                    display: none;
                }
                .looking-Responsive__text-image{
                    color: #0f5f5c;
                    display: inline-block;
                    margin-bottom: 20px;
                    margin-left: 0;
                    left: 0;
                }
            }
        }
    }
}

.director{
    padding: 150px 20%;
    margin: 0;
    .director__container{
        padding: 100px 50px;
        .director__text{
            font-size: 26px;
            line-height: 35px;
            color: #259793;
            margin-bottom: 20px;
        }
        .director__text-name{
            margin-bottom: 10px;
            color: #6fb048;
        }
        .director__text-post{
            color: #0f5f5c;
        }
    }
    .director__container-photo{
        .director-photo__image{
            max-width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 1448px){
    .director{
        padding: 50px 0;
        margin: 0;
        .director__container{
            padding: 100px 50px;
            .director__text{
                font-size: calc(100vw / 50);
                line-height: 35px;
                color: #259793;
                margin-bottom: 20px;
            }
            .director__text-name{
                margin-bottom: 10px;
                color: #6fb048;
            }
            .director__text-post{
                color: #0f5f5c;
            }
        }
        .director__container-photo{
            .director-photo__image{
                max-width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .director{
        padding: 50px 0;
        margin: 0;
        .director__container{
            padding: 30px 10px;
            .director__text{
                font-size: calc(100vw / 30);
                line-height: 20px;
                color: #259793;
                margin-bottom: 20px;
            }
            .director__text-name{
                margin-bottom: 10px;
                color: #6fb048;
            }
            .director__text-post{
                color: #0f5f5c;
            }
        }
        .director__container-photo{
            .director-photo__image{
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.built{
    padding: 75px 20%;
    margin: 0;
    background-color: #eef1ec;
    .built__container{
        padding: 100px 50px;
        .built__headline{
            font-size: 26px;
            line-height: 35px;
            color: #0f5f5c;
            margin-bottom: 15px;
        }
        .built__text{
            line-height: 25px;
            color: #259793;
            margin-bottom: 20px;
        }
    }
    .built__container-world{
        .built-world{
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 1448px){
    .built{
        padding: 75px 20%;
        margin: 0;
        background-color: #eef1ec;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .built__container{
            padding: 100px 50px;
            .built__headline{
                font-size: 26px;
                line-height: 35px;
                color: #0f5f5c;
                margin-bottom: 15px;
            }
            .built__text{
                line-height: 25px;
                color: #259793;
                margin-bottom: 20px;
            }
        }
        .built__container-world{
            .built-world{
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .built{
        padding: 75px 0;
        .built__container{
            padding: 100px 0;
            padding-bottom: 20px;
            .built__headline{
                font-size: 26px;
                line-height: 35px;
                color: #0f5f5c;
                margin-bottom: 15px;
            }
            .built__text{
                line-height: 25px;
                color: #259793;
                margin-bottom: 20px;
            }
        }
        .built__container-world{
            padding: 0;
            .built-world{
                padding: 0;
            }
        }
    }
}

.get{
    width: 100%;
    height: auto;
    padding: 75px 0;
    .get__headline{
        font-size: 30px;
        color: #0f5f5c;
        margin-bottom: 15px;
        text-align: center;
    }
    .get-underscore{
        width: 50px;
        height: 1px;
        margin: auto;
        background-color: #6fb048;
        margin-bottom: 15px;
    }
    .get__text{
        padding: 0 0;
        color: #0f5f5c;
        line-height: 20px;
        margin-bottom: 50px;
        text-align: center;
    }
    .get__container{
        margin: 0;
        padding: 0 27.5%;
        .get__container-content{
            text-align: center;
            margin: 0;
            border: 1px solid #0f5f5c56;
            background-color: white;
            height: 320px;
            .get__container__headline{
                font-weight: bolder;
                color: #6fb048;
                margin: 20px 0;
            }
            .get__container-cost{
                font-weight: bolder;
                font-size: 60px;
                color: #0f5f5c;
            }
            .get__container-month{
                font-weight: bolder;
                color: #0f5f5c;
                margin-bottom: 25px;
            }
            .get__container-justo{
                color: #0f5f5c;
                margin-bottom: 10px;
            }
            .get__container-mollis{
                color: #0f5f5c;
                margin-bottom: 10px;
            }
            .get__container-ultricies{
                color: #0f5f5c;
                margin-bottom: 10px;
            }
            .get__container-cras{
                color: #0f5f5c;
                margin-bottom: 30px;
            }
            .get__link{
                text-decoration: none;
                font-weight: bolder;
                background-color: #539b98;
                color: white;
                padding: 10px 20px;
                &:hover{
                    background-color: #6fb048;
                }
            }
        }
    }
}

.plans{
    padding: 75px 15%;
    .plans__headline{
        font-size: 30px;
        color: #0f5f5c;
        margin-bottom: 15px;
        text-align: center;
    }
    .plans-underscore{
        width: 50px;
        height: 1px;
        margin: auto;
        background-color: #6fb048;
        margin-bottom: 40px;
    }
    .plans__container{
        margin: 0;
        .plans-content__image{
            position: relative;
            top: 7.5px;
        }
        .plans-content__text{
            display: inline-block;
            margin-bottom: 10px;
            margin-left: 5px;
            color: #0f5f5c;
        }
    }
    .help{
        margin-top: 40px;
        text-align: center;
        .help__image{
            margin-bottom: 10px;
        }
        .help__headline{
            font-size: 40px;
            color: #6fb048;
            margin-bottom: 20px;
        }
        .help-underscore{
            width: 50px;
            height: 1px;
            margin: auto;
            background-color: #6fb048;
            margin-bottom: 20px;
        }
        .help__text{
            color: #0f5f5c;
            margin-bottom: 20px;
        }
        .help-mail{
            color: #0f5f5c;
            font-weight: bolder;
            font-size: 16px;
        }
    }
}

.download{
    margin: 0;
    position: relative;
    .download__image{
        width: 100%;
    }
    .download__headline{
        position: absolute;
        left: 15%;
        top: 80px;
        color: #0f5f5c;
        font-size: 30px;
    }
    .download__text{
        position: absolute;
        left: 15%;
        bottom: 70px;
        color: #0f5f5c;
        font-size: 16px;
    }
    .download__link{
        text-decoration: none;
        position: absolute;
        right: 15%;
        bottom: 70px;
        color: white;
        padding: 15px 25px;
        background-color: #6fb048;
        &:hover{
            box-shadow: 0 0 10px 3px #6fb048;
        }
    }
}

.contacts{
    margin: 0;
    height: auto;
    padding: 75px 15%;
    .contacts__container{
        padding: 0;
        .contacts__headline-wapik{
            color: #0f5f5c;
            font-weight: bolder;
            font-size: 18px;
            margin-bottom: 10px;
        }
        .contacts__headline{
            color: #0f5f5c;
            font-weight: bolder;
            margin-bottom: 10px;
        }
        .contacts__text{
            line-height: 30px;
            color: #0f5f5c;
            .contacts__text_span{
                font-weight: bolder;
            }
        }
        .contacts__text-kalamazoo{
            color: #0f5f5c;
        }
        .contacts__link{
            display: block;
            color: #0f5f5c;
            text-decoration: none;
            margin: 17.5px 0;
            &:hover{
                color: #71ab47;
            }
        }
        .contacts__text-newsletter{
            color: #0f5f5c;
            line-height: 20px;
            margin-bottom: 20px;
        }
        .contacts__input{
            width: 75%;
            color: #2a9794;
            height: 40px;
            padding-left: 10px;
            background-color: #eef1ec;
            border: none;
        }
        .contacts__input__image{
            position: absolute;
            right: 95px;
            top: 95px;
        }
    }
}

.links{
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 30px;
    position: relative;
    height: auto;
    .links__text{
        color: #0f5f5c;
    }
    .links__image{
        position: absolute;
        right: 15%;
    }
}

@media screen and (max-width: 1300px){
    .header__container{
        .box-shadow{
        }
        .header__image{
        }
        .header{
            .header-logo{
                padding-bottom: 100px;
            }
            .header__container-phone{
                .header-phone__image{
                }
                .header-phone{
                }
            }
            .header__linksresponsive{
                display: flex;
                flex-direction: column;
                position: relative;
                top: -117.5px;
                .header-getstarted{
                    display: none;
                }
                .header__link{
                    text-align: center;
                    color: #eef1eccc;
                    display: block;
                    font-weight: bolder;
                    font-size: 12px;
                    text-decoration: none;
                    color: #7d8e8e;
                    width: 100px;
                    position: relative;
                    top: 50px;
                    left: 0%;
                &:hover{
                    color: white;
                }
            }
                .icon{
                    display: block;
                    font-size: 20px;
                    color: #eef1eccc;
                    text-decoration: none;
                    position: relative;
                    top: -53px;
                    left: 97.8%;
                    width: 20px;
                }
                .icon:hover{
                    color: white;
                }
            }
            .header__links{
                display: flex;
                flex-direction: column;
                top: 60px;
                .header__link{
                    display: none;
                }
                .icon{
                    display: block;
                    font-size: 20px;
                    color: #eef1eccc;
                    text-decoration: none;
                    position: relative;
                    top: -27.5px;
                }
                .icon:hover{
                    color: white;
                }
            }
        }
    }
    .about{
        margin-top: 475px;
        .about__headline{
            font-size: 30px;
            color: #0f5f5c;
            margin-bottom: 15px;
        }
        .about-underscore{
            width: 50px;
            height: 1px;
            margin: auto;
            background-color: #6fb048;
            margin-bottom: 15px;
        }
        .about__text{
            padding: 0 27.5%;
            color: #0f5f5c;
            line-height: 20px;
            margin-bottom: 100px;
        }
        .about-flex{
            margin: 0;
            padding: 0 15%;
            .about__container{
                .about__image-lonicons{
                    margin-bottom: 25px;
                }
                .about__image-design{
                    margin-bottom: 21px;
                }
                .about__image-sketch{
                    margin-bottom: 29px;
                }
                .about__container__headline{
                    color: #0f5f5c;
                    margin-bottom: 15px;
                    font-weight: bolder;
                }
                .about__container__text{
                    color: #0f5f5c;
                    line-height: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .about{
        padding: 75px 10px;
        .about__headline{
        }
        .about-underscore{
        }
        .about__text{
            padding: 0;
        }
        .about-flex{
            padding: 0;
            .about__container{
                .about__image-lonicons{
                }
                .about__image-design{
                }
                .about__image-sketch{
                }
                .about__container__headline{
                }
                .about__container__text{
                }
            }
        }
    }
}

@media screen and (max-width: 1389px){
    .get{
        .get__headline{
        }
        .get-underscore{
        }
        .get__text{
        }
        .get__container{
            margin: 0;
            padding: 0 27.5%;
            .get__container-content{
                padding-bottom: 30px;
                .get__container__headline{
                    font-weight: bolder;
                    color: #6fb048;
                    margin: 20px 0;
                }
                .get__container-cost{
                    font-weight: bolder;
                    font-size: 60px;
                    color: #0f5f5c;
                }
                .get__container-month{
                    font-weight: bolder;
                    color: #0f5f5c;
                    margin-bottom: 25px;
                }
                .get__container-justo{
                    color: #0f5f5c;
                    margin-bottom: 10px;
                }
                .get__container-mollis{
                    color: #0f5f5c;
                    margin-bottom: 10px;
                }
                .get__container-ultricies{
                    color: #0f5f5c;
                    margin-bottom: 10px;
                }
                .get__container-cras{
                    color: #0f5f5c;
                    margin-bottom: 20px;
                }
                .get__link{
                    }
                }
            }
        }
            .get__container-content{
            }
            flex-direction: column;
            .get__inputs{
                margin-bottom: 40px;
                .get__input{
                }
                .get__link{
                }
                .get__input-message{
                }
            }
            .get-contacts{
                .get-contacts__headline{
                }
                .get-contacts__container{
                    .get-contacts__image{
                        display: none;
                    }
                    .get-contacts-container__image{
                        display: none;
                    }
                    .get-contacts__text{
                    }
                    .get-contacts__text_weight{
                    }
                }
            }
        }
    


@media screen and (max-width: 1376px){
    .contacts{
        .contacts__container{
            .contacts__headline-wapik{
            }
            .contacts__headline{
            }
            .contacts__text{
                .contacts__text_span{
                }
            }
            .contacts__text-kalamazoo{
            }
            .contacts__link{
            }
            .contacts__text-newsletter{
            }
            .contacts__input{
            }
            .contacts__input__image{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1302px){
    .get{
        .get__headline{
        }
        .get-underscore{
        }
        .get__text{
        }
        .get__container{
            flex-direction: column;
            .get__inputs{
                margin-bottom: 40px;
                .get__input{
                }
                .get__link{
                }
                .get__input-message{
                }
            }
            .get-contacts{
                display: none;
                .get-contacts__headline{
                }
                .get-contacts__container{
                    .get-contacts__image{
                    }
                    .get-contacts-container__image{
                    }
                    .get-contacts__text{
                    }
                    .get-contacts__text_weight{
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1301px){
    .plans{
        padding: 75px 1px;
    }
}

@media screen and (max-width: 1300px){
    .header__container{
        height: 185px;
        border-bottom: 1px solid #2a9794;
        .header{
            .header-logo{
                border-bottom: none;
            }
            .header__container-phone{
                .header-phone__image{
                }
                .header-phone{
                }
            }
            .header__links{
                display: flex;
                flex-direction: column;
                top: 60px;
                .header__link{
                    text-align: center;
                    margin: 5px 0;
                }
                .header-getstarted{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 590px){
    .header__container{
        .box-shadow{
        }
        .header__image{
        }
        .header{
            .header-logo{
                padding-bottom: 100px;
            }
            .header__container-phone{
                .header-phone__image{
                }
                .header-phone{
                }
            }
            .header__links{
                display: flex;
                flex-direction: column;
                top: 60px;
                .header__link{
                    text-align: center;
                    margin: 5px 0;
                    color: #eef1eccc;
                    display: none;
                }
                .header-getstarted{
                    display: none;
                }
                .icon{
                    display: block;
                    font-size: 20px;
                    color: #eef1eccc;
                    text-decoration: none;
                    position: relative;
                    top: 0;
                }
                .icon:hover{
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 1240px){
    .download{
        .download__image{
        }
        .download__headline{
            left: 1%;
        }
        .download__text{
            left: 1%;
        }
        .download__link{
            right: 1%;
        }
    }    
}

@media screen and (max-width: 918px){
    .plans{
        padding: 75px 0;
        .plans__headline{
        }
        .plans-underscore{
        }
        .plans__container{
            flex-direction: column;
            margin: 0;
            .plans-content__image{
                position: relative;
                top: 7.5px;
            }
            .plans-content__text{
                display: inline-block;
                margin-bottom: 10px;
                margin-left: 5px;
                color: #0f5f5c;
            }
        }
        .help{
            margin-top: 40px;
            text-align: center;
            .help__image{
                margin-bottom: 10px;
            }
            .help__headline{
                font-size: 40px;
                color: #6fb048;
                margin-bottom: 20px;
            }
            .help-underscore{
                width: 50px;
                height: 1px;
                margin: auto;
                background-color: #6fb048;
                margin-bottom: 20px;
            }
            .help__text{
                color: #0f5f5c;
                margin-bottom: 20px;
            }
            .help-mail{
                color: #0f5f5c;
                font-weight: bolder;
                font-size: 16px;
            }
        }
    }
}


@media screen and (max-width: 890px){
    .download{
        .download__image{
        }
        .download__headline{
        }
        .download__text{
        }
        .download__link{
            top: 5%;
            height: 40px;
        }
    }    
}

@media screen and (max-width: 767px){
    .contacts{
        display: none;
        .contacts__container{
            .contacts__headline-wapik{
            }
            .contacts__headline{
            }
            .contacts__text{
                .contacts__text_span{
                }
            }
            .contacts__text-kalamazoo{
            }
            .contacts__link{
            }
            .contacts__text-newsletter{
            }
            .contacts__input{
            }
            .contacts__input__image{
            }
        }
    }
    .links{
        padding-top: 20px;
        padding-bottom: 45px;
        position: relative;
        height: auto;
        .links__text{
            display: none;
        }
        .links__image{
            left: 37.5%;
        }
    }
}

@media screen and (max-width: 688px){
    .get{
        .get__headline{
        }
        .get-underscore{
        }
        .get__text{
        }
        .get__container{
            padding: 0 0;
            .get__inputs{
                .get__input{
                    width: 100%;
                }
                .get__link{
                }
                .get__input-message{
                    width: 100%;
                }
            }
            .get-contacts{
                .get-contacts__headline{
                }
                .get-contacts__container{
                    .get-contacts__image{
                    }
                    .get-contacts__text{
                    }
                    .get-contacts__text_weight{
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 610px){
    .download{
        .download__image{
        }
        .download__headline{
            font-size: calc(100vw / 17.5);
        }
        .download__text{
            display: none;
        }
        .download__link{
        }
    }    
}

@media screen and (max-width: 420px){
    .header__container{
        .box-shadow{
        }
        .header__image{
        }
        .header{
            .header-logo{
            }
            .header__container-phone{
                .header-phone__image{
                }
                .header-phone{
                }
            }
            .header__links{
                .header__link{
                }
                .header-getstarted{
                }
            }
        }
        .cras{
            .cras__headline{
                font-size: calc(100vw / 10);
            }
            .cras__link{
            }
        }
    }
}

@media screen and (max-width: 455px){
    .get{
        padding: 75px 1px;
        .get__headline{
        }
        .get-underscore{
        }
        .get__text{
        }
        .get__container{
            padding: 0 0;
            .get__inputs{
                .get__input{
                    width: 100%;
                }
                .get__link{
                }
                .get__input-message{
                    width: 100%;
                }
            }
            .get-contacts{
                .get-contacts__headline{
                }
                .get-contacts__container{
                    .get-contacts__image{
                    }
                    .get-contacts__text{
                    }
                    .get-contacts__text_weight{
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 326px){
    .plans{
        .plans__headline{
        }
        .plans-underscore{
        }
        .plans__container{
            .plans-content__image{
            }
            .plans-content__text{
                display: inline-block;
                margin-bottom: 10px;
                margin-left: 5px;
                color: #0f5f5c;
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 320px){
    .download{
        .download__image{
        }
        .download__headline{
            font-size: calc(100vw / 20);
        }
        .download__text{
        }
        .download__link{
            right: 6%;
        }
    }
    .links{
        .links__text{
        }
        .links__image{
            left: 17.5%;
        }
    }
}