body{
    font-family: Tahoma, sans-serif;
    margin-top: 100px;
}

.site-cv{
    margin: auto;
    width: 1200px;
    position: relative;
}

.right-site{
    position: absolute;
    right: 100px;
    top: 0px;
}

/*Name*/
.name-and-photo{
    width: 550px;
    height: 500px;
}

.photo{
    width: 200px;
    height: 200px;
    padding: 15px;
    border: 1px solid #3d6cb0;
    border-radius: 100%;
    margin: auto;
    box-shadow: 0px 0px 25px 5px #3d6db0;
}

.photo-blue{
    width: 200px;
    height: 200px;
    background-color: #3d6cb0;
    border-radius: 100%;
    margin: auto;
}

.name{
    width: 400px;
    height: 100px;
    margin: auto;
    text-align: center;
}

.name h1{
    margin-top: 50px;
    margin-bottom: -25px;
    font-size: 60px;
    font-weight: normal;
}

.name h2{
    margin-top: -25px;
    margin-bottom: -10px;
    font-size: 70px;
}

.name p{
    margin-top: 0;
    font-size: 30px;
}
/*Name*/

/*Profile*/
.profile{
    width: 550px;
    height: 425px;
    position: relative;
}

.profile-photo{
    width: 65px;
    height: 65px;
    padding: 5px;
    border: 1px solid #3d6cb0;
    border-radius: 100%;
    position: absolute;
    left: 50px;
    box-shadow: 0px 0px 25px 5px #3d6db0;
}

.profile-photo-blue{
    width: 65px;
    height: 65px;
    background-color: #3d6cb0;
    border-radius: 100%;
}

.profile h2{
    position: absolute;
    left: 150px;
    color: #3d6cb0;
}

.blue-strip{
    width: 260px;
    height: 10px;
    background-color: #3d6cb0;
    position: absolute;
    left: 275px;
    top: 30px;
}

.profile p{
    position: absolute;
    left: 70px;
    top: 100px;
}

.profile p span{
    font-weight: bold;
}
/*Profile*/

/*Contact*/
.box-contact{
    width: 550px;
    height: 300px;
    position: relative;
}

.contact-photo{
    width: 65px;
    height: 65px;
    padding: 5px;
    border: 1px solid #3d6cb0;
    border-radius: 100%;
    position: absolute;
    left: 50px;
    box-shadow: 0px 0px 25px 5px #3d6db0;
}

.contact-photo-blue{
    width: 65px;
    height: 65px;
    background-color: #3d6cb0;
    border-radius: 100%;
}

.box-contact h2{
    position: absolute;
    left: 145px;
    color: #3d6cb0;
}

.contact{
    margin-left: 75px;
    padding-top: 75px;
    position: relative;
}

.contact h3{
    color: #3d6cb0;
    margin-bottom: 0;
}

.text{
    position: absolute;
    top: 75px;
    left: 120px;
}

.text-domain{
    position: absolute;
    top: 115px;
    left: 120px;
}

.text-phone{
    position: absolute;
    top: 160px;
    left: 120px;
}

.text-site{
    position: absolute;
    top: 200px;
    left: 120px;
}
/*Contact*/

/*Skills*/
.box-skills{
    width: 550px;
    height: 350px;
    position: relative;
}

.box-skills h2{
    position: absolute;
    left: 160px;
    color: #3d6cb0;
}

.box-skills p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.box-level{
    position: absolute;
    top: 100px;
    left: 140px;
}

.level{
    width: 295px;
    height: 35px;
}

.mark{
    width: 20px;
    height: 20px;
    background-color: #3d6cb0;
    border-radius: 100%;
    display: inline-block;
}

.mark-gray{
    width: 20px;
    height: 20px;
    background-color: #979393;
    border-radius: 100%;
    display: inline-block;
}
/*Skills*/

/*Education*/
.box-education{
    width: 550px;
    height: 725px;
    position: relative;
}

.box-education h2{
    position: absolute;
    left: 150px;
    color: #3d6cb0;
}

.education-strip{
    width: 225px;
    height: 10px;
    background-color: #3d6cb0;
    position: absolute;
    left: 310px;
    top: 30px;
}

.box-university{
    width: 550px;
    height: 150px;
    position: relative;
}

.mark-black{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 120px;
    left: 75px;
}

.text-blue{
    color:#3d6cb0;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 100px;
}

.text-blue span{
    color: black;
    font-weight: normal;
}

.box-university h4{
    position: absolute;
    top: 110px;
    left: 100px;
}

.descriptio{
    position: absolute;
    font-size: 15px;
    top: 150px;
    left: 100px;
}
/*Education*/

/*Experience*/
.box-experience{
    width: 550px;
    height: 600px;
    position: relative;
}

.box-experience h2{
    position: absolute;
    left: 140px;
    color: #3d6cb0;
}

.blue-strip-experience{
    width: 235px;
    height: 10px;
    background-color: #3d6cb0;
    position: absolute;
    left: 300px;
    top: 30px;
}

.text-black{
    color:black;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 100px;
}

.text-black span{
    color: black;
    font-weight: normal;
}

.description{
    position: absolute;
    top: 150px;
    left: 100px;
}

.small-text{
    font-weight: bold;
    color: rgb(80, 74, 74);
}
/*Experience*/

/*Software*/
.box-software{
    width: 550px;
    height: 300px;
    position: relative;
}

.box-software h2{
    position: absolute;
    left: 135px;
    color: #3d6cb0;
}

.regulator-gray{
    width: 150px;
    height: 10px;
    background-color: #535353;
}

.regulator-phatoshop-blue{
    width: 100px;
    height: 10px;
    background-color: #3d6cb0;
}

.regulator-phatoshop{
    position: absolute;
    left: 100px;
    top: 75px;
}

.regulator-illustrator-blue{
    width: 100px;
    height: 10px;
    background-color: #3d6cb0;
}

.regulator-illustrator{
    position: absolute;
    left: 100px;
    top: 125px;
}

.regulator-indesign-blue{
    width: 100px;
    height: 10px;
    background-color: #3d6cb0;
}

.regulator-indesign{
    position: absolute;
    left: 100px;
    top: 175px;
}

.regulator-dreamweaver-blue{
    width: 100px;
    height: 10px;
    background-color: #3d6cb0;
}

.regulator-dreamweaver{
    position: absolute;
    right: 50px;
    top: 75px;
}

.regulator-after-effects-blue{
    width: 100px;
    height: 10px;
    background-color: #3d6cb0;
}

.regulator-after-effects{
    position: absolute;
    right: 50px;
    top: 125px;
}

.regulator-htmlcss-blue{
    width: 100px;
    height: 10px;
    background-color: #3d6cb0;
}

.regulator-htmlcss{
    position: absolute;
    right: 50px;
    top: 175px;
}

.box-software p{
    font-weight: bold;
    margin-bottom: 0;
}
/*Software*/

/*img*/
.freepik-com{
    width: 1200px;
    height: 200px;
    margin: auto;
    text-align: center;
}
/*img*/

/*media*/
@media screen and (max-width: 700px) {
    .right-site{
        position: static;
    }

    .freepik-com{
        width: 600px;
        height: 100px;
        margin: auto;
        text-align: center;
    }

    .freepik-com img{
        width: 400px;
        height: 50px;
        position: absolute;
        top: 3400px;
        left: 100px;
    }

    .regulator-dreamweaver{
        position: absolute;
        left: 100px;
        top: 225px;
    }

    .regulator-after-effects{
        position: absolute;
        left: 100px;
        top: 275px;
    }

    .regulator-htmlcss{
        position: absolute;
        left: 100px;
        top: 325px;
    }
}
/*media*/