div{
    width: 400px;
    height: 775px;
    margin: auto;
}

label{
    width: 150px;
    display: inline-block;
}

form{
    display: inline-block;
    margin: 75px auto;
    box-shadow: 10px 10px 25px 10px black;
    background-color: rgba(0, 238, 255, 0.281);
}