/*SCSS*/

$fs :14px;
$mg :auto;
$wd :100%;
$fw :bold;
$cw :white;
$cs :rgb(75, 75, 75);

body{
    font-family: Montserrat;
    font-size: $fs;
}

/*topsite*/
.header_top{
    width: $wd;
    height: auto;
    .header_img{
        width: 100%;
        height: auto;
        position: relative;
    }
    @media screen and (max-width: 868px){
        .header_img{
            height: 300px;
        }
    }
    .header-top_block{
        .header_content{
            .header_content-h3{
                font-weight: bold;
                font-size: $fs+6;
                color: $cw;
                position: absolute;
                left: 15%;
                top: 70px;
            }
            .header_content-block-a{
                position: absolute;
                right: 15%;
                top: 70px;
            }
        }
        .header_content-block{
            width: 100%;
            position: absolute;
            text-align: center;
            top: 40%;
            .header_content-block_h1{
                color: $cw;
                font-size: $fs*3;
            }
            .header_content-block_p{
                color: $cw;
                padding-top: 25px;
                padding-bottom: 60px;
                font-size: $fs+6;
            }
        }
    }
}

.header_content-block_a{
    text-decoration: none;
    color: $cw;
    padding: 15px 20px 15px 20px;
    border: 1px solid white;
    &:hover{
        color: #74a2c2;
        border: 1px solid #74a2c2;
        background-color: white;
    }
}

.header_content-a{
    text-decoration: none;
    color: $cw;
    font-size: calc(100vw / 100);
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    &:hover{
        background-color: #74a2c2;
    }
}

@media screen and (max-width: 868px){
    .header_content-a{
        display: block;
        text-align: center;
        font-size: 12px;
    }
}

@media screen and (max-width: 1300px){
    .header_content-block{
        margin-top: -100px;
    }
}

@media screen and (max-width: 1024px){
    .header_content-block{
        margin-top: -250px;
    }
}

@media screen and (max-width: 868px){
    .header_content-block{
        margin-top: -250px;
    }
    .header_content-block-a{
        display: flex;
        flex-direction: column;
    }
    .header_content-block{
        display: none;
    }
}

.block-content1{
    margin: $mg;
    width: 100%;
    position: relative;
    top: 100px;
    height: 500px;
    .block-content1_h2_block_p{
        padding: 0 15%;
        text-align: center;
        color: $cs;
        .block-content1_h2{
            margin-bottom: 15px;
        }
        .block-black{
            display: none;
        }
    }
    .block-flex_img{
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 100px;
        width: 50%;
    }
    .block-flex{
        display: flex;
        text-align: center;
        color: $cs;
        padding: 0 15.5%;
        .block-flex_h3_p{
            margin-top: 10%;
            margin-left: 2%;
            margin-right: 2%;

            .block-flex_h3{
                padding-bottom: 15px;
            }
            .block-flex_p{
                line-height: 16px;
            }
        }
    }
}

@media screen and (max-width: 846px){
    .block-flex_img{
        max-width: 50%;
    }
}

@media screen and (max-width: 966px){
    .block-flex{
        padding: 0 15.5%;
    }
}

@media screen and (max-width: 470px){
    .block-flex_img{
        margin-top: -70px;
    }
    .block-flex{
        padding: 0 15.5%;
    }
    .block-flex_h3_p{
        .block-flex_h3{
            font-size: 12px;
        }
        .block-flex_p{
            font-size: 12px;
        }
    }
}

.block-content1us{
    margin-top: 100px;
}

.block-content1_h2_block_p2{
    @extend .block-content1_h2_block_p;
    padding-bottom: 20px;
}

.block-flex_h3_p_no-text-align{
    text-align: left;
    padding: 15px;
    width: 600px;
}

.block-flex2{
    padding: 0 15%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: $cs;
    .block-flex_block{
        position: relative;
    }
}

@media screen and (max-width: 1500px){
    .block-flex2{
        flex-direction: column;
        align-items: center;
    }
    .buttom-slid-left{
        display: none;
    }
    .buttom-slid-right{
        display: none;
    }
    .block-content1us{
        margin-top: 100px;
        height: 1400px;
    }
}

@media screen and (max-width: 1024px){
    .block-content1us{
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 631px){
    .block-content1us{
        margin-bottom: 30%;
    }
}

@media screen and (max-width: 536px){
    .block-content1us{
        margin-bottom: 50%;
    }
}

.block-flex_block_img{
    position: relative;
}

.block-flex_block_img-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    &:hover{
    background-color: rgba(0, 0, 0, 0.356); 
        }
    &:hover .block-flex_content_links{
        display: inline-block;
        position: relative;
        bottom: -180px;
        left: 62.5px;
        display: flex;
        width: 137px;
        }
}

.block-flex_block_h3{
    margin-top: 20px;
    font-size: $fs;
}

.block-flex_block_p{
    margin-top: 10px;
}

.buttom-slid-left_t{
    font-size: $fs*2;
    font-weight: bold;
}

.buttom-slid-left{
    position: absolute;
    top: 110px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(136, 136, 136);
    z-index: 2;
    &:hover{
        color: $cw;
        background-color: #c0301c;
        transition: background-color 0.5s linear 0s;
    }
}

.buttom-slid-right{
    position: absolute;
    top: 110px;
    right: 0px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(136, 136, 136);
    z-index: 2;
    &:hover{
        color: $cw;
        background-color: #c0301c;
        transition: background-color 0.5s linear 0s;
    }
}

.block-flex_content_links{
    display: none;
}

.block-content_link{
    padding: 10px;
    &:hover{
        background-color: #c0301c;
    }
} 
/*topsite*/
/*centersite*/

.block-content2{
    @extend .block-content1;
}

.block-content2_h2_block_p2{
    @extend .block-content1_h2_block_p2;
}

.block-content2_h2{
    @extend .block-content1_h2;
}

.block-black2{
    @extend .block-black;
}

.block-content2_a{
    text-decoration: none;
    color: $cs;
}

.block-content2{
    margin: $mg;
    width: 100%;
    position: relative;
    top: 250px;
    height: auto;
    @media screen and (max-width: 1585px){
        .block-content2{
            margin-bottom: 1000px;
        }
    }
}

@media screen and (max-width: 480px){
    .block-content2{
        height: 550px;
    }
}

@media screen and (max-width: 455px){
    .block-content2{
        padding-top: 200px;
    }
}

@media screen and (max-width: 361px){
    .block-content2{
        padding-top: 400px;
    }
}

.block-content2_a{
    padding: 10px;
    &:hover{
        color: red;
    }
}

.block-flex3{
    padding: 0 19%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    color: $cs;
    .block-flex3-content{
        width: 360px;
        height: 320px;
        padding-top: 50px;
        position: relative;
    }
    @media screen and (max-width: 480px){

        .block-flex3-content{
            width: 100px;
            height: 100px;
        }
        .block-flex3-content_img{
            width: 100px;
            height: 100px;
        }
        .block-content_h3_p_a{
            display: none;
        }
    }
}

@media screen and (max-width: 536px){
    .block-flex3{
        padding: 0 10%;
    }
}

.block-content_h3_p_a{
    position: absolute;
    top: 50px;
    left: 0px;
    width: 200px;
    padding: 140px 80px 180px 80px;
    color: $cw;
    &:hover{
        top: 50px;
        left: 0px;
        width: 200px;
        padding: 140px 80px 86px 80px;
        color: $cw;
        background-color: #ff19009d;
        display: block;
        transition: background-color 0.75s linear 0s;
    }
    &:hover .block-content_h3{
        display: block;
    }
    &:hover .block-content_p{
        display: block;
    }
    &:hover .block-content_a{
        display: block;
    }
}

.block-content_h3{
    display: none;
    padding-bottom: 10px;
    font-size: $fs+6;
}

.block-content_p{
    display: none;
    padding-bottom: 10px;
}

.block-content_a{
    display: none;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    color: $cw;
    border: 1px solid $cw;
    font-weight: bold;
    &:hover{
        color: #ff19009d;
        background-color: $cw;
    }
}

.block-content-block_h2_h2_a_img{
    width: 100%;
    position: relative;
    top: 550px;
    &:hover .block-content_h2_h2_a_img{
        display: block;
        background-color: #ff19009d;
    }
    &:hover .block-content_h2{
        display: block;
    }
    &:hover .block-content_a2{
        display: block;
        margin: auto;
    }
}

.block-content-block_h2_h2_a_img1{
    width: 100%;
    height: auto;
    }
    .block-content_h2_h2_a_img{
        color: #ff19009d;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 56%;
        text-align: center;
        padding-top: 10%;
            .block-content_h2{
                font-size: $fs*2;
                color: $cw;
                display: none;
                margin: 5px;
            }
            .block-content_a2{
            display: none;
            text-decoration: none;
            color: $cw;
            border: 1px solid $cw;
            width: 150px;
            padding: 10px 15px 10px 15px;
            &:hover{
            color: #ff19009d;
            background-color: $cw;
        }
    }
}

@media screen and (max-width: 900px){
    .block-content_h2_h2_a_img{
        padding-top: 5%;
        height: 77.5%;
        .block-content_h2{
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 535px){
    .block-content_h2_h2_a_img{
        padding-top: 2%;
        height: 88%;
        .block-content_h2{
            font-size: 10px;
        }
    }
}

@media screen and (max-width: 370px){
    .block-content_h2_h2_a_img{
        padding-top: 0;
        height: 100%;
        .block-content_h2{
            font-size: 10px;
        }
    }
}

/*centersite*/
/*bottomsite*/

.block-content3{
    margin: 650px $mg 0 $mg;
    position: relative;
    top: 50px;
    height: 1200px;
    color: $cs;
    width: 100%;
}

.block-content3_h2{
    padding-bottom: 30px;
    text-align: center;
}

.block-black{
    width: 50px;
    height: 1px;
    background-color: $cs;
    position: absolute;
    left: 575px;
    top: 30px;
}

.block-content3_p{
    text-align: center;
}

.block-content_Recent{
    position: relative;
    height: 322px;
    margin: 100px 15% 0 15%;
    padding: 25px;
    border-bottom: 1px solid rgb(136, 136, 136);
}

.block-content_Recent_img{
    position: absolute;
    left: 0px;
    top: 0px;
}

.block-content_Recent_block{
    position: absolute;
    left: 500px;
    top: 0px;
    padding: 0px 20px 15px 20px;
    border: 1px solid $cs;
    text-align: center;
    color: $cs;
    box-shadow: 0px 0px 1px 1px $cs;
}

.block-content_Recen-p-span{
    font-weight: bolder;
    font-size: $fs+10;
}

.block-content_Recent_block2_h2{
    color: red;
    font-weight: bold;
    padding-bottom: 15px;
}

.block-content_Recent_block2_p{
    font-style: italic;
}

.block-content_Recent_block2_p-span{
    color: red;
}

.block-content_Recent_block2{
    position: absolute;
    left: 600px;
    top: 10px;
}

.block-content_Recent_block3{
    position: absolute;
    left: 500px;
    top: 90px;
    line-height: 25px;
    color: $cs;
}

.block-content_Recent_a{
    position: absolute;
    left: 500px;
    bottom: 100px;
    text-decoration: none;
    color: red;
    font-size: $fs;
    font-weight: bold;
    &:hover{
        color: $cs;
    }
}

.block-content_Recent2{
    position: relative;
    margin-top: 50px;
    height: 322px;
    padding: 25px;
    margin: 50px 15% 0 15%;
}

@media screen and (max-width: 1645px){
    .block-content_Recent{
        margin: 50px 10% 0 10%;
    }
    .block-content_Recent2{
        margin: 50px 10% 0 10%;
    }
}

@media screen and (max-width: 1445px){
    .block-content_Recent{
        margin: 50px 2% 0 2%;
    }
    .block-content_Recent2{
        margin: 50px 2% 0 2%;
    }
}

@media screen and (max-width: 1205px){
    .block-content_Recent{
        margin: 50px 0 0 0;
    }
    .block-content_Recent2{
        margin: 50px 0 0 0;
    }
}

@media screen and (max-width: 1157px){
    .block-content_Recent{
        height: 200px;
    }
    .block-content_Recent2{
        height: 200px;
    }
    .block-content_Recent_img{
        width: 25%;
        height: auto;
    }
    .block-content_Recent_block{
        left: 300px;
    }
    .block-content_Recent_block2{
        left: 400px;
    }
    .block-content_Recent_block3{
        left: 300px;
        font-size: 12px;
        line-height: 14px;
    }
    .block-content_Recent_a{
        left: 300px;
        bottom: 10px;
    }
}

@media screen and (max-width: 639px){
    .block-content_Recent{
        height: 200px;
    }
    .block-content_Recent2{
        height: 200px;
    }
    .block-content_Recent_block{
        left: 160px;
    }
    .block-content_Recent_block2{
        left: 240px;
    }
    .block-content_Recent_block3{
        left: 160px;
    }
    .block-content_Recent_a{
        left: 30px;
        bottom: 50px;
    }
}

@media screen and (max-width: 442px){
    .block-content_Recent{
        height: 300px;
    }
    .block-content_Recent2{
        height: 300px;
    }
    .block-content_Recent_block{
        left: 160px;
    }
    .block-content_Recent_block2{
        left: 240px;
    }
    .block-content_Recent_block3{
        left: 160px;
        top: 110px;
    }
    .block-content_Recent_a{
        left: 30px;
        bottom: 50px;
    }
}

@media screen and (max-width: 376px){
    .block-content_Recent{
        height: 400px;
    }
    .block-content_Recent2{
        height: 400px;
    }
    .block-content_Recent_block3{
        left: 160px;
        top: 150px;
    }
}

@media screen and (max-width: 320px){
    .block-content_Recent_block{
        left: 100px;
    }
    .block-content_Recent_block2{
        left: 190px;
    }
    .block-content_Recent_block3{
        left: 160px;
        top: 130px;
    }
    .block-content_Recent_a{
        left: 30px;
        bottom: 50px;
    }
}

.block-content4{
    margin: $mg;
    height: auto;
    position: relative;
    text-align: center;
    .block-content4_img{
        max-width: 100%;
    }
    .block-content4_p{
        line-height: 40px;
        color: $cs;
        font-size: $fs+6px;
        padding: 50px;
        font-style: italic;
        font-weight: bold;
    }
    .block-content4_h3{
        font-size: $fs+6px;
        color: $cs;
    }
    .block-content4_block-content{
        display: flex;
        width: 60px;
        justify-content: space-between;
        margin: 50px $mg;
        .block-content4_block-button{
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: $cs;
            &:hover{
                background-color: #ff1900;
            }
        }        
    }
}

.block-content5as{
    width: 100%;
}

.block-content5{
    height: 600px;
    position: relative;
    color: $cs;
}

.block-content5_img{
    position: absolute;
    top: 24%;
    left: 15%;
}

.block-content5_block-content1{
    position: absolute;
    top: 24%;
    left: 16%;
}

.block-content5_block-content2{
    position: absolute;
    top: 41%;
    left: 16%;
}

.block-content5_block-content3{
    position: absolute;
    top: 57%;
    left: 16%;
}

.block-content5_block-content_h3{
    padding-bottom: 10px;
    font-weight: bold;
}

.block-content5_block-content_p{
    line-height: 20px;
}

.block-content5_block-content1_form{
    position: absolute;
    top: 22%;
    left: 40%;
    padding-right: 15%;
}

.bottomsite-input1{
    margin: 10px;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border: 2px solid $cs;
    &:focus{
        border: 2px solid #db4b3b;
        box-shadow: 0px 0px 5px 1px rgb(67, 123, 196);
    }
}

.bottomsite-input2{
    margin: 10px;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border: 2px solid $cs;
    &:focus{
        border: 2px solid #db4b3b;
    }
}

.bottomsite-input3{
    margin: 10px;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border: 2px solid $cs;
    &:focus{
        border: 2px solid #db4b3b;
    }
}

.bottomsite-input4{
    margin: 10px;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border: 2px solid $cs;
    &:focus{
        border: 2px solid #db4b3b;
    }
}

.bottomsite-input-coment{
    margin: 10px;
    width: 637.5px;
    height: 100px;
    padding-left: 10px;
    border: 2px solid $cs;
    font-size: $fs+2;
    &:focus{
        border: 2px solid #db4b3b;
    }
}

.block-content5_a{
    position: absolute;
    top: 67%;
    left: 40.5%;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border: 2px solid $cs;
    color: $cs;
    &:hover{
        border: 2px solid #db4b3b;
        color: #db4b3b;
        background-color: black;
    }
}

.block-content5_p{
    position: absolute;
    top: 69%;
    left: 50%;
}

@media screen and (max-width: 1639px){
    .block-content5_p{
        left: 55%;
    }
}

@media screen and (max-width: 1515px){
    .block-content5_p{
        left: 55%;
    }
    .block-content5_block-content1_form{
        position: absolute;
        top: 22%;
        left: 40%;
        padding-right: 0;
    }
}

@media screen and (max-width: 1139px){
    .block-content5_p{
        left: 44%;
    }
    .block-content5_block-content1_form{
        position: absolute;
        top: 22%;
        left: 20%;
        padding-right: 0;
    }
    .block-content5_a{
        left: 21%;
    }
    .block-content5_img{
        display: none;
    }
    .block-content5_block-content1{
        display: none;
    }
    .block-content5_block-content2{
        display: none;
    }
    .block-content5_block-content3{
        display: none;
    }
}

@media screen and (max-width: 860px){
    .block-content5_p{
        left: 30%;
    }
    .block-content5_block-content1_form{
        left: 0;
    }
    .block-content5_a{
        left: 1.5%;
    }
}

@media screen and (max-width: 690px){
    .block-content5as{
        display: none;
    }
    .block-content3{
        height: 800px;
    }
}

@media screen and (max-width: 442px){
    .block-content3{
        height: 950px;
    }
}

@media screen and (max-width: 376px){
    .block-content3{
        height: 1150px;
    }
}

.block-content5_p_span{
    color: red;
}

.block-content6{
    width: $wd;
    margin: $mg;
    height: 200px;
    background-color: #db4b3b;
    .block-content6_block{
        margin: $mg;
        text-align: center;
        position: relative;
        top: 50px;
        color: $cw;
        .block-black_bottomsite{
            width: 50px;
            height: 1px;
            background-color: $cw;
            position: absolute;
            left: 575px;
            top: 60px;
        }
        .block-content3_p2{
            padding-top: 50px;
        }
    }
}
/*bottomsite*/