/*SCSS*/
body {
  font-family: Montserrat;
  font-size: 14px; }

/*topsite*/
.header_top {
  width: 100%;
  height: auto; }
  .header_top .header_img {
    width: 100%;
    height: auto;
    position: relative; }
  @media screen and (max-width: 868px) {
    .header_top .header_img {
      height: 300px; } }
  .header_top .header-top_block .header_content .header_content-h3 {
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 15%;
    top: 70px; }
  .header_top .header-top_block .header_content .header_content-block-a {
    position: absolute;
    right: 15%;
    top: 70px; }
  .header_top .header-top_block .header_content-block {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 40%; }
    .header_top .header-top_block .header_content-block .header_content-block_h1 {
      color: white;
      font-size: 42px; }
    .header_top .header-top_block .header_content-block .header_content-block_p {
      color: white;
      padding-top: 25px;
      padding-bottom: 60px;
      font-size: 20px; }

.header_content-block_a {
  text-decoration: none;
  color: white;
  padding: 15px 20px 15px 20px;
  border: 1px solid white; }
  .header_content-block_a:hover {
    color: #74a2c2;
    border: 1px solid #74a2c2;
    background-color: white; }

.header_content-a {
  text-decoration: none;
  color: white;
  font-size: calc(100vw / 100);
  border-radius: 5px;
  padding: 10px 15px 10px 15px; }
  .header_content-a:hover {
    background-color: #74a2c2; }

@media screen and (max-width: 868px) {
  .header_content-a {
    display: block;
    text-align: center;
    font-size: 12px; } }
@media screen and (max-width: 1300px) {
  .header_content-block {
    margin-top: -100px; } }
@media screen and (max-width: 1024px) {
  .header_content-block {
    margin-top: -250px; } }
@media screen and (max-width: 868px) {
  .header_content-block {
    margin-top: -250px; }

  .header_content-block-a {
    display: flex;
    flex-direction: column; }

  .header_content-block {
    display: none; } }
.block-content1, .block-content2 {
  margin: auto;
  width: 100%;
  position: relative;
  top: 100px;
  height: 500px; }
  .block-content1 .block-content1_h2_block_p, .block-content2 .block-content1_h2_block_p, .block-content1 .block-content1_h2_block_p2, .block-content2 .block-content1_h2_block_p2, .block-content1 .block-content2_h2_block_p2, .block-content2 .block-content2_h2_block_p2 {
    padding: 0 15%;
    text-align: center;
    color: #4b4b4b; }
    .block-content1 .block-content1_h2_block_p .block-content1_h2, .block-content2 .block-content1_h2_block_p .block-content1_h2, .block-content1 .block-content1_h2_block_p2 .block-content1_h2, .block-content2 .block-content1_h2_block_p2 .block-content1_h2, .block-content1 .block-content2_h2_block_p2 .block-content1_h2, .block-content2 .block-content2_h2_block_p2 .block-content1_h2, .block-content1 .block-content1_h2_block_p .block-content2_h2, .block-content2 .block-content1_h2_block_p .block-content2_h2, .block-content1 .block-content1_h2_block_p2 .block-content2_h2, .block-content2 .block-content1_h2_block_p2 .block-content2_h2, .block-content1 .block-content2_h2_block_p2 .block-content2_h2, .block-content2 .block-content2_h2_block_p2 .block-content2_h2 {
      margin-bottom: 15px; }
    .block-content1 .block-content1_h2_block_p .block-black, .block-content2 .block-content1_h2_block_p .block-black, .block-content1 .block-content1_h2_block_p2 .block-black, .block-content2 .block-content1_h2_block_p2 .block-black, .block-content1 .block-content2_h2_block_p2 .block-black, .block-content2 .block-content2_h2_block_p2 .block-black, .block-content1 .block-content1_h2_block_p .block-black2, .block-content2 .block-content1_h2_block_p .block-black2, .block-content1 .block-content1_h2_block_p2 .block-black2, .block-content2 .block-content1_h2_block_p2 .block-black2, .block-content1 .block-content2_h2_block_p2 .block-black2, .block-content2 .block-content2_h2_block_p2 .block-black2 {
      display: none; }
  .block-content1 .block-flex_img, .block-content2 .block-flex_img {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 100px;
    width: 50%; }
  .block-content1 .block-flex, .block-content2 .block-flex {
    display: flex;
    text-align: center;
    color: #4b4b4b;
    padding: 0 15.5%; }
    .block-content1 .block-flex .block-flex_h3_p, .block-content2 .block-flex .block-flex_h3_p {
      margin-top: 10%;
      margin-left: 2%;
      margin-right: 2%; }
      .block-content1 .block-flex .block-flex_h3_p .block-flex_h3, .block-content2 .block-flex .block-flex_h3_p .block-flex_h3 {
        padding-bottom: 15px; }
      .block-content1 .block-flex .block-flex_h3_p .block-flex_p, .block-content2 .block-flex .block-flex_h3_p .block-flex_p {
        line-height: 16px; }

@media screen and (max-width: 846px) {
  .block-flex_img {
    max-width: 50%; } }
@media screen and (max-width: 966px) {
  .block-flex {
    padding: 0 15.5%; } }
@media screen and (max-width: 470px) {
  .block-flex_img {
    margin-top: -70px; }

  .block-flex {
    padding: 0 15.5%; }

  .block-flex_h3_p .block-flex_h3 {
    font-size: 12px; }
  .block-flex_h3_p .block-flex_p {
    font-size: 12px; } }
.block-content1us {
  margin-top: 100px; }

.block-content1_h2_block_p2, .block-content2_h2_block_p2 {
  padding-bottom: 20px; }

.block-flex_h3_p_no-text-align {
  text-align: left;
  padding: 15px;
  width: 600px; }

.block-flex2 {
  padding: 0 15%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #4b4b4b; }
  .block-flex2 .block-flex_block {
    position: relative; }

@media screen and (max-width: 1500px) {
  .block-flex2 {
    flex-direction: column;
    align-items: center; }

  .buttom-slid-left {
    display: none; }

  .buttom-slid-right {
    display: none; }

  .block-content1us {
    margin-top: 100px;
    height: 1400px; } }
@media screen and (max-width: 1024px) {
  .block-content1us {
    margin-bottom: 10%; } }
@media screen and (max-width: 631px) {
  .block-content1us {
    margin-bottom: 30%; } }
@media screen and (max-width: 536px) {
  .block-content1us {
    margin-bottom: 50%; } }
.block-flex_block_img {
  position: relative; }

.block-flex_block_img-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%; }
  .block-flex_block_img-shadow:hover {
    background-color: rgba(0, 0, 0, 0.356); }
  .block-flex_block_img-shadow:hover .block-flex_content_links {
    display: inline-block;
    position: relative;
    bottom: -180px;
    left: 62.5px;
    display: flex;
    width: 137px; }

.block-flex_block_h3 {
  margin-top: 20px;
  font-size: 14px; }

.block-flex_block_p {
  margin-top: 10px; }

.buttom-slid-left_t {
  font-size: 28px;
  font-weight: bold; }

.buttom-slid-left {
  position: absolute;
  top: 110px;
  padding: 5px 10px 5px 10px;
  background-color: #888888;
  z-index: 2; }
  .buttom-slid-left:hover {
    color: white;
    background-color: #c0301c;
    transition: background-color 0.5s linear 0s; }

.buttom-slid-right {
  position: absolute;
  top: 110px;
  right: 0px;
  padding: 5px 10px 5px 10px;
  background-color: #888888;
  z-index: 2; }
  .buttom-slid-right:hover {
    color: white;
    background-color: #c0301c;
    transition: background-color 0.5s linear 0s; }

.block-flex_content_links {
  display: none; }

.block-content_link {
  padding: 10px; }
  .block-content_link:hover {
    background-color: #c0301c; }

/*topsite*/
/*centersite*/
.block-content2_a {
  text-decoration: none;
  color: #4b4b4b; }

.block-content2 {
  margin: auto;
  width: 100%;
  position: relative;
  top: 250px;
  height: auto; }
  @media screen and (max-width: 1585px) {
    .block-content2 .block-content2 {
      margin-bottom: 1000px; } }

@media screen and (max-width: 480px) {
  .block-content2 {
    height: 550px; } }
@media screen and (max-width: 455px) {
  .block-content2 {
    padding-top: 200px; } }
@media screen and (max-width: 361px) {
  .block-content2 {
    padding-top: 400px; } }
.block-content2_a {
  padding: 10px; }
  .block-content2_a:hover {
    color: red; }

.block-flex3 {
  padding: 0 19%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  color: #4b4b4b; }
  .block-flex3 .block-flex3-content {
    width: 360px;
    height: 320px;
    padding-top: 50px;
    position: relative; }
  @media screen and (max-width: 480px) {
    .block-flex3 .block-flex3-content {
      width: 100px;
      height: 100px; }
    .block-flex3 .block-flex3-content_img {
      width: 100px;
      height: 100px; }
    .block-flex3 .block-content_h3_p_a {
      display: none; } }

@media screen and (max-width: 536px) {
  .block-flex3 {
    padding: 0 10%; } }
.block-content_h3_p_a {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 200px;
  padding: 140px 80px 180px 80px;
  color: white; }
  .block-content_h3_p_a:hover {
    top: 50px;
    left: 0px;
    width: 200px;
    padding: 140px 80px 86px 80px;
    color: white;
    background-color: #ff19009d;
    display: block;
    transition: background-color 0.75s linear 0s; }
  .block-content_h3_p_a:hover .block-content_h3 {
    display: block; }
  .block-content_h3_p_a:hover .block-content_p {
    display: block; }
  .block-content_h3_p_a:hover .block-content_a {
    display: block; }

.block-content_h3 {
  display: none;
  padding-bottom: 10px;
  font-size: 20px; }

.block-content_p {
  display: none;
  padding-bottom: 10px; }

.block-content_a {
  display: none;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  font-weight: bold; }
  .block-content_a:hover {
    color: #ff19009d;
    background-color: white; }

.block-content-block_h2_h2_a_img {
  width: 100%;
  position: relative;
  top: 550px; }
  .block-content-block_h2_h2_a_img:hover .block-content_h2_h2_a_img {
    display: block;
    background-color: #ff19009d; }
  .block-content-block_h2_h2_a_img:hover .block-content_h2 {
    display: block; }
  .block-content-block_h2_h2_a_img:hover .block-content_a2 {
    display: block;
    margin: auto; }

.block-content-block_h2_h2_a_img1 {
  width: 100%;
  height: auto; }

.block-content_h2_h2_a_img {
  color: #ff19009d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56%;
  text-align: center;
  padding-top: 10%; }
  .block-content_h2_h2_a_img .block-content_h2 {
    font-size: 28px;
    color: white;
    display: none;
    margin: 5px; }
  .block-content_h2_h2_a_img .block-content_a2 {
    display: none;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    width: 150px;
    padding: 10px 15px 10px 15px; }
    .block-content_h2_h2_a_img .block-content_a2:hover {
      color: #ff19009d;
      background-color: white; }

@media screen and (max-width: 900px) {
  .block-content_h2_h2_a_img {
    padding-top: 5%;
    height: 77.5%; }
    .block-content_h2_h2_a_img .block-content_h2 {
      font-size: 20px; } }
@media screen and (max-width: 535px) {
  .block-content_h2_h2_a_img {
    padding-top: 2%;
    height: 88%; }
    .block-content_h2_h2_a_img .block-content_h2 {
      font-size: 10px; } }
@media screen and (max-width: 370px) {
  .block-content_h2_h2_a_img {
    padding-top: 0;
    height: 100%; }
    .block-content_h2_h2_a_img .block-content_h2 {
      font-size: 10px; } }
/*centersite*/
/*bottomsite*/
.block-content3 {
  margin: 650px auto 0 auto;
  position: relative;
  top: 50px;
  height: 1200px;
  color: #4b4b4b;
  width: 100%; }

.block-content3_h2 {
  padding-bottom: 30px;
  text-align: center; }

.block-black, .block-black2 {
  width: 50px;
  height: 1px;
  background-color: #4b4b4b;
  position: absolute;
  left: 575px;
  top: 30px; }

.block-content3_p {
  text-align: center; }

.block-content_Recent {
  position: relative;
  height: 322px;
  margin: 100px 15% 0 15%;
  padding: 25px;
  border-bottom: 1px solid #888888; }

.block-content_Recent_img {
  position: absolute;
  left: 0px;
  top: 0px; }

.block-content_Recent_block {
  position: absolute;
  left: 500px;
  top: 0px;
  padding: 0px 20px 15px 20px;
  border: 1px solid #4b4b4b;
  text-align: center;
  color: #4b4b4b;
  box-shadow: 0px 0px 1px 1px #4b4b4b; }

.block-content_Recen-p-span {
  font-weight: bolder;
  font-size: 24px; }

.block-content_Recent_block2_h2 {
  color: red;
  font-weight: bold;
  padding-bottom: 15px; }

.block-content_Recent_block2_p {
  font-style: italic; }

.block-content_Recent_block2_p-span {
  color: red; }

.block-content_Recent_block2 {
  position: absolute;
  left: 600px;
  top: 10px; }

.block-content_Recent_block3 {
  position: absolute;
  left: 500px;
  top: 90px;
  line-height: 25px;
  color: #4b4b4b; }

.block-content_Recent_a {
  position: absolute;
  left: 500px;
  bottom: 100px;
  text-decoration: none;
  color: red;
  font-size: 14px;
  font-weight: bold; }
  .block-content_Recent_a:hover {
    color: #4b4b4b; }

.block-content_Recent2 {
  position: relative;
  margin-top: 50px;
  height: 322px;
  padding: 25px;
  margin: 50px 15% 0 15%; }

@media screen and (max-width: 1645px) {
  .block-content_Recent {
    margin: 50px 10% 0 10%; }

  .block-content_Recent2 {
    margin: 50px 10% 0 10%; } }
@media screen and (max-width: 1445px) {
  .block-content_Recent {
    margin: 50px 2% 0 2%; }

  .block-content_Recent2 {
    margin: 50px 2% 0 2%; } }
@media screen and (max-width: 1205px) {
  .block-content_Recent {
    margin: 50px 0 0 0; }

  .block-content_Recent2 {
    margin: 50px 0 0 0; } }
@media screen and (max-width: 1157px) {
  .block-content_Recent {
    height: 200px; }

  .block-content_Recent2 {
    height: 200px; }

  .block-content_Recent_img {
    width: 25%;
    height: auto; }

  .block-content_Recent_block {
    left: 300px; }

  .block-content_Recent_block2 {
    left: 400px; }

  .block-content_Recent_block3 {
    left: 300px;
    font-size: 12px;
    line-height: 14px; }

  .block-content_Recent_a {
    left: 300px;
    bottom: 10px; } }
@media screen and (max-width: 639px) {
  .block-content_Recent {
    height: 200px; }

  .block-content_Recent2 {
    height: 200px; }

  .block-content_Recent_block {
    left: 160px; }

  .block-content_Recent_block2 {
    left: 240px; }

  .block-content_Recent_block3 {
    left: 160px; }

  .block-content_Recent_a {
    left: 30px;
    bottom: 50px; } }
@media screen and (max-width: 442px) {
  .block-content_Recent {
    height: 300px; }

  .block-content_Recent2 {
    height: 300px; }

  .block-content_Recent_block {
    left: 160px; }

  .block-content_Recent_block2 {
    left: 240px; }

  .block-content_Recent_block3 {
    left: 160px;
    top: 110px; }

  .block-content_Recent_a {
    left: 30px;
    bottom: 50px; } }
@media screen and (max-width: 376px) {
  .block-content_Recent {
    height: 400px; }

  .block-content_Recent2 {
    height: 400px; }

  .block-content_Recent_block3 {
    left: 160px;
    top: 150px; } }
@media screen and (max-width: 320px) {
  .block-content_Recent_block {
    left: 100px; }

  .block-content_Recent_block2 {
    left: 190px; }

  .block-content_Recent_block3 {
    left: 160px;
    top: 130px; }

  .block-content_Recent_a {
    left: 30px;
    bottom: 50px; } }
.block-content4 {
  margin: auto;
  height: auto;
  position: relative;
  text-align: center; }
  .block-content4 .block-content4_img {
    max-width: 100%; }
  .block-content4 .block-content4_p {
    line-height: 40px;
    color: #4b4b4b;
    font-size: 20px;
    padding: 50px;
    font-style: italic;
    font-weight: bold; }
  .block-content4 .block-content4_h3 {
    font-size: 20px;
    color: #4b4b4b; }
  .block-content4 .block-content4_block-content {
    display: flex;
    width: 60px;
    justify-content: space-between;
    margin: 50px auto; }
    .block-content4 .block-content4_block-content .block-content4_block-button {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background-color: #4b4b4b; }
      .block-content4 .block-content4_block-content .block-content4_block-button:hover {
        background-color: #ff1900; }

.block-content5as {
  width: 100%; }

.block-content5 {
  height: 600px;
  position: relative;
  color: #4b4b4b; }

.block-content5_img {
  position: absolute;
  top: 24%;
  left: 15%; }

.block-content5_block-content1 {
  position: absolute;
  top: 24%;
  left: 16%; }

.block-content5_block-content2 {
  position: absolute;
  top: 41%;
  left: 16%; }

.block-content5_block-content3 {
  position: absolute;
  top: 57%;
  left: 16%; }

.block-content5_block-content_h3 {
  padding-bottom: 10px;
  font-weight: bold; }

.block-content5_block-content_p {
  line-height: 20px; }

.block-content5_block-content1_form {
  position: absolute;
  top: 22%;
  left: 40%;
  padding-right: 15%; }

.bottomsite-input1 {
  margin: 10px;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border: 2px solid #4b4b4b; }
  .bottomsite-input1:focus {
    border: 2px solid #db4b3b;
    box-shadow: 0px 0px 5px 1px #437bc4; }

.bottomsite-input2 {
  margin: 10px;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border: 2px solid #4b4b4b; }
  .bottomsite-input2:focus {
    border: 2px solid #db4b3b; }

.bottomsite-input3 {
  margin: 10px;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border: 2px solid #4b4b4b; }
  .bottomsite-input3:focus {
    border: 2px solid #db4b3b; }

.bottomsite-input4 {
  margin: 10px;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border: 2px solid #4b4b4b; }
  .bottomsite-input4:focus {
    border: 2px solid #db4b3b; }

.bottomsite-input-coment {
  margin: 10px;
  width: 637.5px;
  height: 100px;
  padding-left: 10px;
  border: 2px solid #4b4b4b;
  font-size: 16px; }
  .bottomsite-input-coment:focus {
    border: 2px solid #db4b3b; }

.block-content5_a {
  position: absolute;
  top: 67%;
  left: 40.5%;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border: 2px solid #4b4b4b;
  color: #4b4b4b; }
  .block-content5_a:hover {
    border: 2px solid #db4b3b;
    color: #db4b3b;
    background-color: black; }

.block-content5_p {
  position: absolute;
  top: 69%;
  left: 50%; }

@media screen and (max-width: 1639px) {
  .block-content5_p {
    left: 55%; } }
@media screen and (max-width: 1515px) {
  .block-content5_p {
    left: 55%; }

  .block-content5_block-content1_form {
    position: absolute;
    top: 22%;
    left: 40%;
    padding-right: 0; } }
@media screen and (max-width: 1139px) {
  .block-content5_p {
    left: 44%; }

  .block-content5_block-content1_form {
    position: absolute;
    top: 22%;
    left: 20%;
    padding-right: 0; }

  .block-content5_a {
    left: 21%; }

  .block-content5_img {
    display: none; }

  .block-content5_block-content1 {
    display: none; }

  .block-content5_block-content2 {
    display: none; }

  .block-content5_block-content3 {
    display: none; } }
@media screen and (max-width: 860px) {
  .block-content5_p {
    left: 30%; }

  .block-content5_block-content1_form {
    left: 0; }

  .block-content5_a {
    left: 1.5%; } }
@media screen and (max-width: 690px) {
  .block-content5as {
    display: none; }

  .block-content3 {
    height: 800px; } }
@media screen and (max-width: 442px) {
  .block-content3 {
    height: 950px; } }
@media screen and (max-width: 376px) {
  .block-content3 {
    height: 1150px; } }
.block-content5_p_span {
  color: red; }

.block-content6 {
  width: 100%;
  margin: auto;
  height: 200px;
  background-color: #db4b3b; }
  .block-content6 .block-content6_block {
    margin: auto;
    text-align: center;
    position: relative;
    top: 50px;
    color: white; }
    .block-content6 .block-content6_block .block-black_bottomsite {
      width: 50px;
      height: 1px;
      background-color: white;
      position: absolute;
      left: 575px;
      top: 60px; }
    .block-content6 .block-content6_block .block-content3_p2 {
      padding-top: 50px; }

/*bottomsite*/

/*# sourceMappingURL=style.css.map */
