body{
    font-family: Lato;
}

/*TopSite*/

.header{
    width: 100%;
    height: 70px;
}

.header__conteiner{
    padding: 10px 15%;
    position: relative;
}

.header__image{
    position: absolute;
    left: 15%;
}

.header__content{
    position: absolute;
    right: 15%;
    top: 25px;
}

@media screen and (max-width: 1024px){
    .header__image{
        padding-top: 15px;
    }
}

.header__link{
    text-decoration: none;
    color: #868686;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-size: calc(100vw / 130);
}

@media screen and (max-width: 1024px){
    .header__content{
        position: absolute;
        top: 5px;
        display: flex;
        flex-direction: column;
    }
    .header__link{
        padding: 1px 2px 1px 2px;
        font-size: 10px;
        text-align: center;
    }
}

.header__link:hover{
    background-color: #ffbb42;
    color: white;
}

.local{
    height: 600px;
    width: 100%;
    background-color: #709dca;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .local{
        margin-top: 30px;
        height: 300px;
    }
}

.local__conteiner{
    position: relative;
    padding: 5% 15%;
}

.local__headline{
    font-weight: bolder;
    font-size: calc(100vw / 75);
    color: white;
}

.local__text{
    color: white;
    display: block;
    font-size: calc(100vw / 100);
}

.local__form{
    display: block;
    padding: 20px 15%;
    display: flex;
    position: relative;
}

.local__form_content__input-name{
    width: 25%;
    height: 30px;
    font-size: calc(100vw / 130);
    margin-right: 10px;
    padding-left: 4%;
}

.local__form__input-NamePhoto{
    position: absolute;
    top: 40%;
    left: 16%;
}

.local__form_content__input-email{
    width: 25%;
    height: 30px;
    font-size: calc(100vw / 130);
    margin-right: 10px;
    padding-left: 4%;
}

.local__form__input-EmailPhoto{
    position: absolute;
    top: 42%;
    left: 33.5%;
}

.local__form_content__input-phone{
    width: 25%;
    height: 30px;
    font-size: calc(100vw / 130);
    margin-right: 10px;
    padding-left: 4%;
}

.local__form__input-PhonePhoto{
    position: absolute;
    top: 40%;
    left: 51.5%;
}

.local__link{
    text-decoration: none;
    color: white;
    padding: 1% 2% 1% 2%;
    width: 25%;
    border-radius: 5px;
    background-color: #ffbb42;
    font-size: calc(100vw / 120);
}

.local__link:hover{
    box-shadow: 0px 0px 10px 1px rgb(0, 45, 141);
}
@media screen and (max-width: 1680px){
    .local__form__input-EmailPhoto{
        left: 34%;
    }
    .local__form__input-PhonePhoto{
        left: 52%;
    }
}

@media screen and (max-width: 1430px){
    .local__form__input-EmailPhoto{
        left: 33.5%;
    }
    .local__form__input-PhonePhoto{
        left: 51.5%;
    }
}

@media screen and (max-width: 1024px){
    .local__form{
        flex-direction: column;
    }
    .local__link{
        font-size: 14px;
        margin: 1%;
        width: 40%;
    }
    .local__form_content__input-name{
        width: 100%;
        height: 20px;
        margin: 1%;
        font-size: 10px;
    }
    .local__form_content__input-email{
        width: 100%;
        height: 20px;
        margin: 1%;
        font-size: 10px;
    }
    .local__form_content__input-phone{
        width: 100%;
        height: 20px;
        margin: 1%;
        font-size: 10px;
    }
    .local__form__input-NamePhoto{
        display: none;
    }
    .local__form__input-EmailPhoto{
        display: none;
    }
    .local__form__input-PhonePhoto{
        display: none;
    }
    .local__headline{
        font-size: calc(100vw / 40);
    }
    .local__text{
        font-size: calc(100vw / 35);
    }
}

.local__image-Smart{
    text-align: center;
    margin-top: 150px;
}

@media screen and (max-width: 1024px){
    .local__image-Smart{
        display: none;
    }
    .local-inputs{
        display: none;
    }
    .local__input-left{
        display: none;
    }
    .local__input-center{
        display: none;
    }
    .local__input-right{
        display: none;
    }
}

.local-inputs{
    margin: 30px auto;
    width: 75px;
    display: flex;
    justify-content: space-between;
}

.local__input-left{
    width: 10px;
    height: 10px;
    border: 3px solid #868686;
    border-radius: 100%;
    z-index: 1;
}

.local__input-left:hover{
    border: 3px solid #3363ac;
}

.local__input-center{
    width: 10px;
    height: 10px;
    border: 3px solid #868686;
    border-radius: 100%;
    z-index: 1;
}

.local__input-center:hover{
    border: 3px solid #3363ac;
}

.local__input-right{
    width: 10px;
    height: 10px;
    border: 3px solid #868686;
    border-radius: 100%;
    z-index: 1;
}

.local__input-right:hover{
    border: 3px solid #3363ac;
}

@media screen and (max-width: 325px){
    .local__link{
        width: 50%;
    }
    .local{
        height: 200px;
    }
}

.services{
    height: 700px;
    width:100%;
}

.services__conteiner{
    margin-top: 200px;
    text-align: center;
    position: relative;
}

.services__headline{
    font-weight: bold;
    font-size: 25px;
}

.services__text{
    color: #464646;
}

.services_contents-flex{
    padding: 100px 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}

.services_content-flex{
    width: 35%;
    height: 150px;
    position: relative;
}

.services_content-flex__image{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}

.services_content-flex__headline{
    position: absolute;
    left: 75px;
    font-weight: bold;
    color: #3f3f3f;
}

.services_content-flex__text{
    position: absolute;
    top: 25px;
    left: 75px;
    font-size: 14px;
    color: #868686;
    line-height: 20px;
}

.services_content-flex-fontawesome{
    order: 1;
}

.services_content-flex-contact{
    order: 3;
}

.services_content-flex-friendly{
    order: 5;
}

.services_content-flex-design{
    order: 2;
}

.services_content-flex-retins{
    order: 4;
}

.services_content-flex-trendy{
    order: 6;
}
@media screen and (max-width: 320px){
    .services{
        width:100%;
        font-size: 10px;
    }
    .services__conteiner{
        margin-top: 50px;
    }
    .services_content-flex__image{
        width: 20%;
    }
}

@media screen and (max-width: 350px){
    .services_content-flex__text{
        top: 30px;
    }
}

@media screen and (max-width: 768px){
    .services{
        width:100%;
        font-size: 1px;
    }
    .services_content-flex__text{
        font-size: 8px;
        line-height: 10px;
    }
}

@media screen and (max-width: 1024px){
    .services{
        width:100%;
        font-size: 10px;
        height: 900px;
    }
    .services__conteiner{
        margin-top: 50px;
    }
    .services_contents-flex{
        flex-direction: column;
        align-items: center;
    }
    .services_content-flex{
        width: 80%;
        height: 120px;
    }
    .services_content-flex__headline{
        left: 75px;
        font-weight: bold;
    }
}

/*TopSite*/
/*centersite*/
.about{
    background-color: #ffc155;
    height: 714px;
    width: 100%;
    display: flex;
}

.about__image{
    max-width: 100%;
    height: auto;
    display: block;
}

.about_content{
    padding: 10% 0 10% 5%;
}

.about__headline{
    width: 200px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-bottom: 2%;
    font-size: calc(100vw / 70);
}

.about__text{
    width: 450px;
    font-size: 14px;
    color: white;
    line-height: 20px;
    margin-bottom: 5%;
    font-size: calc(100vw / 150);
}

@media screen and (max-width: 1500px){
    .about{
        flex-direction: column;
        height: auto;
    }
    .about_content{
        padding: 15%;
        text-align: center;
    }
    .about__headline{
        font-size: calc(100vw / 20);
        width: 100%;
    }
    
    .about__text{
        font-size: calc(100vw / 100);
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .about__text{
        font-size: calc(100vw / 60);
        width: 100%;
    }
}

@media screen and (max-width: 580px){
    .about__text{
        font-size: calc(100vw / 35);
        line-height: 15px;
        margin-bottom: 20px;
    }
}

.about__link{
    text-decoration: none;
    color: white;
    font-size: 12px;
    border: 1px solid #da8a00;
    padding: 14px;
}

.about__link:hover{
    color: rgba(0, 0, 0, 0.500);
    box-shadow: 0px 0px 5px 1px #da8a00;
}

.price{
    width: 100%;
    height: 900px;
    position: relative;
    background-color: #e7edf3;
}

.price__conteiner{
    text-align: center;
    padding-top: 100px;
}

.price__headline{
    font-weight: bold;
    font-size: 25px;
}

.price__text{
    color: #464646;
    left: 30px;
}

.price-flex{
    display: flex;
    padding: 115px 20%;
}

.price-flex__conteiner-left{
    width: 400px;
    height: 450px;
    background-color: white;
    border: 1px solid #86868663;
}

.price-flex__conteiner-center{
    width: 400px;
    height: 450px;
    background-color: white;
    border: 1px solid #86868663;
}

.price-flex__conteiner-right{
    width: 400px;
    height: 450px;
    background-color: white;
    border: 1px solid #86868663;
}

.price-flex__headline{
    padding-top: 60px;
    color: #868686;
    font-size: 20px;
    text-align: center;
}

.price-flex__text-cost{
    text-align: center;
    color: #ffc155;
    font-weight: bold;
    font-size: 50px;
    padding: 10px;
}

.price-flex__text-cost span{
    font-size: 30px;
    display: inline-block;
}

.price-flex__text-month{
    text-align: center;
    color: #868686;
    font-size: 14px;
    margin-bottom: 55px;
}

.price-flex__text-account{
    text-align: center;
    color: #868686;
    border-top: 1px solid #86868663;
    padding-top: 10px;
    width: 300px;
    margin: 15px auto;
    font-size: 14px;
}  

.price-flex__text-hour{
    text-align: center;
    color: #868686;
    border-top: 1px solid #86868663;
    padding-top: 10px;
    width: 300px;
    margin: 15px auto;
    font-size: 14px;
}

.price-flex__text-custom{
    text-align: center;
    color: #868686;
    border-top: 1px solid #86868663;
    padding-top: 10px;
    width: 300px;
    margin: 15px auto;
    font-size: 14px;
}

.price-flex__link{
    text-decoration: none;
    text-align: center;
    color: white;
    width: 40%;
    background-color: #ffc155;
    padding: 3%;
    display: inline-block;
    margin: 7.5% 27%;
}

.price-flex__link:hover{
    box-shadow: 0px 0px 5px 1px black;
} 

.price-flex__conteiner-left:hover{
    background-color: #709dca;
    transform: scaleY(1.1);
    transition: transform 0.5s linear 0s;
}

.price-flex__conteiner-left:hover h2{
    color: white;
}

.price-flex__conteiner-left:hover p{
    color: white;
}

.price-flex__conteiner-center:hover{
    background-color: #709dca;
    transform: scaleY(1.1);
    transition: transform 0.5s linear 0s;
} 

.price-flex__conteiner-center:hover h2{
    color: white;
}

.price-flex__conteiner-center:hover p{
    color: white;
}

.price-flex__conteiner-right:hover{
    background-color: #709dca;
    transform: scaleY(1.1);
    transition: transform 0.5s linear 0s;
}

.price-flex__conteiner-right:hover h2{
    color: white;
}

.price-flex__conteiner-right:hover p{
    color: white;
}

@media screen and (max-width: 1500px){
    .price{
        height: auto;
    }
    .price-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .price-flex__conteiner-left:hover{
        background-color: #709dca;
        transform: scaleX(1.1);
        transition: transform 0.5s linear 0s;
    }
    .price-flex__conteiner-center:hover{
        background-color: #709dca;
        transform: scaleX(1.1);
        transition: transform 0.5s linear 0s;
    }
    .price-flex__conteiner-right:hover{
        background-color: #709dca;
        transform: scaleX(1.1);
        transition: transform 0.5s linear 0s;
    }
}

@media screen and (max-width: 500px){
    .price-flex__conteiner-left{
        width: 200px;
        height: 250px;
    }
    
    .price-flex__conteiner-center{
        width: 200px;
        height: 250px;
    }
    
    .price-flex__conteiner-right{
        width: 200px;
        height: 250px;
    }
    .price-flex__headline{
        padding-top: 10px;
        font-size: 14px;
    }
    
    .price-flex__text-cost{
        font-size: 25px;
        padding: 10px;
    }
    
    .price-flex__text-cost span{
        font-size: 15px;
    }
    
    .price-flex__text-month{
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    .price-flex__text-account{
        padding-top: 10px;
        width: 120px;
        margin: 15px auto;
        font-size: 8px;
    }  
    
    .price-flex__text-hour{
        padding-top: 10px;
        width: 120px;
        margin: 15px auto;
        font-size: 8px;
    }
    
    .price-flex__text-custom{
        padding-top: 10px;
        width: 120px;
        margin: 15px auto;
        font-size: 8px;
    }
    
    .price-flex__link{
        width: 40%;
        display: inline-block;
        margin: 7.5% 27%;
        font-size: 10px;
    }
}

.choos{
    width: 100%;
    height: auto;
}

.choos__conteiner{
    text-align: center;
    padding-top: 10%;
}

.choos__headline{
    font-weight: bold;
    font-size: 25px;
}

.choos__text{
    color: #464646;
}

.choos__image{
    margin: 5% 25%;
    width: 50%;
    height: auto;
}

.choos-flex{
    display: flex;
    margin: 0 21%;
    justify-content: space-between;
    width: 57.5%;
}

.choos-flex__conteiner{
    width: 20%;
    text-align: center;
}

.choos-flex__headline{
    color: rgba(0, 0, 0, 0.750);
    font-weight: bold;
    margin-bottom: 15px;
}

.choos-flex__text{
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.750);
    margin-bottom: 65%;
}

.choos__conteiner__link{
    margin: auto;
    text-align: center;
    margin-bottom: 10%;
}

.choos__link{
    padding: 1% 2%;
    background-color: #ffc155;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.choos__link:hover{
    box-shadow: 0px 0px 5px 1px black;
}

@media screen and (max-width: 768px){
    .choos-flex__text{
        font-size: 12px;
        line-height: 10px;
    }
    .choos-flex__headline{
        margin-bottom: 5px;
        font-size: 12px;
    }
}

@media screen and (max-width: 436px){
    .choos-flex__text{
        font-size: 8px;
        line-height: 10px;
    }
    .choos-flex__headline{
        margin-bottom: 5px;
        font-size: 8px;
    }
}

/*centersite*/

/*bottomsite*/
.workers{
    background-color: #ffc155;
    width: 100%;
    height: 850px;
}

.workers__conteiner{
    text-align: center;
    padding-top: 7.5%;
}

.workers__headline{
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.workers__text{
    color: white;
    left: 30px;
}

.workers-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5% 20%;
    justify-content: space-around;
}

.workers-flex__conteiner{
    width: 48%;
    height: 200px;
    background-color: white;
    margin: 10px 0;
    position: relative;
}

.workers-flex__image{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 20%;
    height: auto;
}

.workers-flex__text{
    position: absolute;
    top: 15%;
    left: 30%;
    color: #464646c4;
    font-size: 14px;
    line-height: 130%;
    padding-right: 5%;
}

.workers-flex__text-absolute{
    position: absolute;
    top: 75%;
    left: 30%;
    color: #464646c4;
    font-size: 14px;
}

.workers-flex__text-absolute_span{
    color: #d68800;
}

@media screen and (max-width: 1323px){
    .workers-flex{
        flex-direction: column;
        align-items: center;
    }
    .workers-flex__conteiner{
        width: 100%;
    }
    .workers{
        height: auto;
    }
}

@media screen and (max-width: 644px){
    .workers-flex__text{
        font-size: 10px;
    }
    
    .workers-flex__text-absolute{
        font-size: 10px;
    }
}

@media screen and (max-width: 323px){
    .workers-flex__text{
        font-size: 9px;
    }
    
    .workers-flex__text-absolute{
        font-size: 9px;
    }
}

.newsletter{
    width: 100%;
    height: auto;
}

.newsletter__conteinet{
    text-align: center;
    padding-top: 5%;
}

.newsletter__headline{
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.newsletter__text{
    color: #464646c4;
}

.newsletter__conteiner__form{
    display: block;
    padding: 5% 15%;
    position: relative;
}

.newsletter__form__image-name{
    position: absolute;
    top: 47%;
    left: 15.5%;
}

.newsletter__form__input-name{
    width: 30%;
    height: 30px;
    font-size: 14px;
    margin-right: 10px;
    padding-left: 30px;
}

.newsletter__form__image-email{
    position: absolute;
    top: 47%;
    left: 39%;
}

.newsletter__form__input-email{
    width: 40%;
    height: 30px;
    font-size: 14px;
    margin-right: 10px;
    padding-left: 30px;
}

@media screen and (max-width: 1679px){
    .newsletter__form__image-email{
        left: 39.5%;
    }
}

@media screen and (max-width: 1440px){
    .newsletter__form__image-email{
        left: 40%;
    }
}

@media screen and (max-width: 1250px){
    .newsletter__form__image-email{
        left: 41%;
    }
}

@media screen and (max-width: 1024px){
    .newsletter__form__image-email{
        top: 45%;
        left: 42%;
    }
    .newsletter__form__image-name{
        position: absolute;
        top: 45%;
        left: 16.5%;
    }
}

@media screen and (max-width: 823px){
    .newsletter__form__image-email{
        top: 45%;
        left: 44%;
    }
}

@media screen and (max-width: 625px){
    .newsletter__form__image-email{
        top: 45%;
        left: 46%;
    }
}

@media screen and (max-width: 500px){
    .newsletter__form__image-email{
        top: 60%;
        left: 17.5%;
    }
    .newsletter__form__image-name{
        top: 30%;
        left: 17.5%;
    }
    .newsletter__form{
        display: flex;
        flex-direction: column;
    }
    .newsletter__form__input-name{
        width: 100%;
        margin: 1%;
    }
    .newsletter__form__input-email{
        width: 100%;
        margin: 1%;
    }
}

@media screen and (max-width: 1200px){
    .newsletter__link{
        position: absolute;
    }
}

@media screen and (max-width: 678px){
    .newsletter__link{
        position: absolute;
        left: 15%;
        top: 80%;
    }
}

@media screen and (max-width: 500px){
    .newsletter__link{
        left: 15.5%;
        top: 85%;
    }
}

.newsletter__link{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1% 2%;
    border-radius: 5px;
    font-size: 15px;
    background-color: #ffbb42;
}

.newsletter__link:hover{
    box-shadow: 0px 0px 10px 1px #e7970c;
}

.newsletter__image-map{
    margin-top: 5%;
    padding: 0 15%;
    width: 70%;
    height: auto;
}

@media screen and (max-width: 587px){
    .newsletter__image-map{
        width: 50%;
    }
}

.newsletter__header{
    margin: auto;
    padding: 110px 30%;
    height: 50px;
    position: relative;
}

@media screen and (max-width: 1200px){
    .newsletter__header__link{
        text-align: right;
    }
    .newsletter__header__conteiner{
        width: 70%;
        position: absolute;
        top: 5px;
        display: flex;
        flex-direction: column;
    }
}

.newsletter__header__conteiner{
    position: absolute;
}

.newsletter__header__link{
    text-decoration: none;
    color: #868686;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    position: relative;
}

.newsletter__header__link:hover{
    background-color: #ffbb42;
    color: white;
}

.newsletter__conteinet-contacts{
    padding: 0 15%;
    font-size: 20px;
    color: #868686;
    text-align: center;
    position: relative;
}

.newsletter__image-social{
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 1%;
}

.copyright{
    width: 100%;
    height: 50px;
    background-color: #709dca;
    position: relative;
}

.copyright__text{
    padding-top: 1%;
    color: white;
    font-size: 14px;
    text-align: center;
}
/*bottomsite*/