body {
    margin: 0;
}

/*Start*/
.line {
    background-color: #76c38f;
    width: 1200px;
    height: 5px;
    margin: auto;
}
/*Start*/

/*topMenu*/
.background-top-menu {
    background-color: #290000;
    width: 1200px;
    height: 600px;
    margin: auto;
    position: relative;
}

.logo {
    padding: 42.5px 160px 0px 120px;
    width: 210px;
    float: left;
}

.logo h1, h4 {
    line-height: 20px;
    margin: 0px;
}

.logo h1 {
    color: white;
}

.logo h4 {
    color: #979797;
}

menu {
    margin: 0;
    float: right;
    padding: 55px 120px 0px 0px;
    font-size: 14px;
}

menu a {
    text-decoration: none;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;

}

menu a:hover {
    background-color: #76c38f;
}

.arrow-left {
    width: 15px; 
    height: 25px;
    top: 320px;
    left: 120px;
    position: absolute;
}

.arrow-right {
    width: 15px; 
    height: 25px;
    top: 320px;
    right: 120px;
    position: absolute;
    transform: scaleX(-1)
}


.photo {
    width: 380px;
    height: 380px;
    background-color: #333333;
    border: 25px solid #6b6b6b;
    border-radius: 100%;
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 120px;
    right: 180px;
}

.text-photo {
    width: 350px;
    margin: 0;
    position: absolute;
    top: 220px;
    left: 180px;
}

.text-photo h2 {
    font-size: 50px;
    margin-bottom: 15px;
    line-height: 40px;
    margin-top: 0px;
    color: white;
}
.text-photo p {
    font-size: 15.5px;
    color: #979797;
}

.text-photo a {
    text-decoration: none;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: #76c38f;
}
/*topMenu*/

/*centerSite*/
.center-site {
    background-color: #660000;
    width: 1200px;
    height: 975px;
    margin: auto;
    position: relative;
}

.block-service-title {
    padding: 60px 0px 60px 0px;
    width: 920px;
    height: 305px;
    border-bottom: 3px solid #303030;
    margin: 0px 140px 0px 140px;
}

.service-title {
    width: 215px;
    height: 305px;
    float: right;
    background-color: white;
    text-decoration: none;
}

.service-title:hover {
    background-color: #76c38f;
}

.service-title1 {
    margin: 0px 0px 0px 10px;
}

.service-title2 {
    margin: 0px 10px 0px 10px;
}

.service-title3{
    margin: 0px 10px 0px 10px;
}

.service-title4 {
    margin: 0px 10px 0px 0px;
}

.small-photo {
    background-color: #333333;
    margin: 25px 45px 0px 45px;
    width: 120px;
    height: 120px;
}

.service-title h3 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0px 10px 0px;
    color: #333333;
}

.service-title p {
    text-align: center;
    margin: 0px 5px 0px 5px;
    color: #333333;
}

.work {
    padding: 10px 10px 10px 10px;
    background-color: #303030;
    margin: 0;
    width: 200px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
    position: absolute;
    left: 490px;
    top: 405px;
}

.blocks-lorem-ipsum-dolor {
    padding: 60px 0px 60px 0px;
    width: 920px;
    height: 305px;
    margin: 0px 140px 0px 140px;
}

.block-lorem-ipsum-dolor {
    width: 286.6px;
    height: 180px;
    float: right;
    text-decoration: none;
    background-color: white;
}

.block-lorem-ipsum-dolor:hover {
    background-color: #76c38f;
}

.video {
    background-color: #353535;
    Width: 276.6px;
    height: 170px;
    margin: 5px 5px 5px 5px;
    position: relative;
}

.video h3 {
    margin: 0px;
    padding: 5px 33.8px 5px 33.7px;
    background-color: Black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

.block-lorem-ipsum-dolor1 {
    margin: 0px 0px 15px 15px;
}

.block-lorem-ipsum-dolor2 {
    margin: 0px 15px 15px 15px;
}

.block-lorem-ipsum-dolor3 {
    margin: 0px 15px 15px 0px;
}

.block-lorem-ipsum-dolor4 {
    margin: 15px 0px 0px 15px;
}

.block-lorem-ipsum-dolor5 {
    margin: 15px 15px 0px 15px;
}

.block-lorem-ipsum-dolor6 {
    margin: 15px 15px 0px 0px;
}
/*centerSite*/

/*info*/
.info {
    background-color: #303030;
    width: 1200px;
    height: 390px;
    margin: auto;
    position: relative;
}

.info-bloks-main {
    padding-top: 20px;
    width: 920px;
    height: 305px;
    border-bottom: 3px solid #303030;
    margin: 0px 140px 0px 140px;
}

.info-blocks {
    width: 215px;
    height: 305px;
    float: left;
    text-decoration: none;
    text-align: left;
}

.info-blocks1 {
    margin: 0px 10px 0px 0px;
}

.info-blocks2 {
    margin: 0px 10px 0px 10px;
}

.info-blocks3 {
    margin: 0px 10px 0px 10px;
}

.info-blocks4 {
    margin: 0px 0px 0px 10px;
}

.info-blocks h5 {
    margin-bottom: 20px;
    color: white;
}

.span-link {
    color: #979797;
}

.span-namehere {
    color: #76c38f;
}

.info-blocks h6 {
    margin-bottom: 5px;
    color: #76c38f;
}

.color-admin {
    color: #76c38f;
    font-size: 10px;
}

.color-domainname {
    color: #666666;
    font-size: 10px;
}

.color-April {
    font-size: 10px;
    color: #979797;
}

.text-color {
    color: #979797;
}

.info-blocks p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.info-blocks a {
    display: block;
    margin: 0;
    text-decoration: none;
    color: #76c38f;
}

.line-link {
    border-bottom: 1px solid #404040;
    padding: 7px;
}

.contact-us {
    width: 200px;
    height: 16px;
    padding: 0px 0px 0px 15px;
    border: 10px solid #222222;
    background-color: #222222;
    border-radius: 10px;
    color: #979797;

}

.contact-us-message {
    width: 200px;
    height: 80px;
    padding: 0px 0px 0px 16px;
    border: 10px solid #222222;
    background-color: #222222;
    border-radius: 10px;
    color: #979797;
}

.imput-submit {
    text-decoration: none;
    color: #303030;
    border: 10px solid #76c38f;
    border-radius: 10px;
    background-color: #76c38f;
    position: absolute;
    right: 275px;
    bottom: 50px;
}
/*info*/

/*Copyright*/
.copyright {
    background-color: #2b2b2b;
    width: 1200px;
    height: 60px;
    margin: auto;
    border-top: 1px solid black;
    position: relative;
}

.copy {
    position: absolute;
    left: 120px;
    top: 5px;
    color: #979797;
}

.os{
    position: absolute;
    right: 120px;
    top: 5px;
    color: #979797;
}
/*Copyright*/