body {
    margin: 0;
    padding: 0;
    font: 15px/20px Arial, Tahoma, sans-serif;
}

.menu {
    width: 1800px;
    margin: 0 auto;
}

aside {
    margin: 0px 0px 0px 200px;
}

aside a {
    text-decoration: none;
    margin: 0px 5px 0px 0px;
    color: #e5e5e5;
}

aside a:hover {
    color: #0f94c9;
}

.MainMenu { 
    display: block;
    margin: 0px 0px 0px 980px;
}

#cap {
    width: 100%;
    line-height:135px;
    background-color: #333333;
}

.logo {
    font-size: 90px;
    color: #21b41c;
    float: left;
}

.SiteCenter {
    width: 1600px;
    margin: 0 auto;
    color: #333333;
    font-size: 45px;
}

.SiteCenter span {
    color:#0f94c9;
}

h2 {
    color: #bbbbbb;
    font-size: 72px;
}

.introduction {
    border-bottom: 5px dotted #cccccc;
    border-top: 5px dotted #cccccc;
    font: 45px/50px Arial, Tahoma, sans-serif;
    padding: 40px;
}

p .BoldFont {
    font-weight: bold;
    color: black;
}

.WMOBlock {
    width: 20%;
    height: 30%;
    background-color: #00aeef;
    color: #ffffff;
    margin: 0px 70px 70px 70px;
    padding: 0px 30px 40px 30px;
    display: inline-block;
    box-shadow: 8px 8px 40px -5px black;
}

h3 {
    border-bottom: 2px solid #e5e5e5;
    font: 40px/30px Arial, Tahoma, sans-serif;
    padding: 0px 0px 30px 0px;
    text-align: center;
}

#TexBlo {
    text-align: center;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}

#button {
    background-color: #0076a3;
    display: block;
    padding: 7.5px 0px 15px 0px;
    border: 1px solid #195c74;
    margin: 0px;
    text-align: center;
    box-shadow: inset 1px 1px 10px 1px #195c74;
}

#buttonText {
    font-size: 20px;
    text-decoration: none;
    color: Black;
    display: inline-block;

}

#buttonText:hover {
    color: #ffffff;
}

.BottomSiteLeft {
    width: 1800px;
    margin: auto;
    border-top: 5px dotted #cccccc;
    border-bottom: 5px dotted #cccccc;
}

.StartBottomLeft {
    font-size: 35px;
    font-weight: normal;
    color: #555555;
}

.BottomDiv {
    margin: 30px 998px 0px 0px;
    padding: 0px 0px 40px 0px;
}

.Comments {
    text-align: left;
    font-size: 25px;
    line-height: 40px;
    color: #555555;
}

.name {
    text-align: left;
}

img {
    float: left;
    margin: 0px 50px 0px 0px;
}

h5 {
    margin: 0px;
    font-size: 20px;
    color: #555555;
}

.post {
    font-size: 20px;
    margin: 0px;
    color: #21b41c;
}

.BottomSiteRight {
    width: 800px;
    margin: auto;
    border-left: 5px dotted #cccccc;
    float: right;
    padding: 0px 0px 0px 100px;
}

.BottomSiteRight2{
    float: right;
}

.StartBottomRight {
    font-size: 35px;
    font-weight: normal;
    color: #555555;
    margin: 0px;
}

h6 {
    color: #888888;
    font-size: 35px;
    font-weight: normal;
    margin: 50px 0px 25px 0px;
}

.CommentPhoto {
    text-align: left;
    font-size: 25px;
    line-height: 40px;
    color: #555555;
}

.Next {
    text-decoration: none;
    font-size: 25px;
    color: #0f94c9;
}

.Next:hover {
    color: Black;
}

.Copy {
    color: #888888;
    font-size: 20px;
    margin: 30px 0px 500px 0px;
}

.CopyDiv {
    width: 1600px;
    margin: auto;
}