/*SCSS*/

body{
    font-family: Roboto;
    font-size: 14px;
}

.block-content_1200px{
    height: 150px;
    position: relative;
    margin: 0;
    .block-content_1200px_img{
        position: absolute;
        left: 15%;
        top: 35%;
    }
    .block-content_1200px_a{
        text-decoration: none;
        font-size: 42px;
        color: #353535;
        position: absolute;
        right: 15%;
        top: 30%;
        &:hover{
            text-decoration: none;
            color: #f5693d;
        }
    }
}

@media screen and (max-width: 700px){
    .block-content_1200px{
        .block-content_1200px_img{
            left: 10%;
        }
        .block-content_1200px_a{
            font-size: 21px;
            right: 15%;
            top: 65%;
        }
    }
}

.block-content_1800px2{
    background-color: #353535;
    margin: 0;
    .block-content_1200px2{
        height: auto;
        color: #d6d5d5;
        text-align: center;
        padding-top: 15%;
        width: 100%;
        font-weight: bold;
        .block-content_1200px2_h1{
            font-size: calc(100vw / 25);
        }
        .block-content_1200px2_h2{
            padding-bottom: 10%;
            font-size: calc(100vw / 50);
        }
        .block-content_1200px2_img{
            padding-bottom: 1%;
        }
        .block-content_1200px2_p{
            padding-bottom: 1%;
        }
    }    
}

.block-content_1800px3{
    margin: 0;
    .block-content_1200px3{
        height: auto;
        text-align: center;
        color: #696969;
        padding: 5% 22% 5% 22%;
        .block-content_1200px3_h2{
            color: #3d3d3d;
            font-weight: bold;
        }
        .block-content_block-AboutUs{
            width: 120px;
            height: 2px;
            background-color: #f5693d;
            margin: auto;
        }
        .block-content_1200px3_p{
            padding-top: 30px;
        }
        .block-content_block{
            background-color: #ebebeb;
            padding-top: 30px;
            padding-bottom: 30px;
            margin: 50px 10px 10px 10px;
        }
        .block-content_block_h3-1{
            padding-top: 10px;
        }
        .block-content_block_h3-2{
            padding-top: 22.5px;
        }
        .block-content_block_h3-3{
            padding-top: 40px;
        }
    }    
}

.block-content_block-flex2{
    display: flex;
    margin: 0;
    height: auto;
    .block-content_block2{
        background-color: #171f23;
        text-align: center;
        font-weight: bold;
        height: auto;
        .block-content_block2_h2{
            color: white;
            padding: 20% 0 0 0;
        }
        .block-content_block2_p{
            color: #555555;
            padding: 0 15% 5% 15%;
        }
        .block-content_block2_a{
            text-decoration: none;
            background-color: #e84c3d;
            color: white;
            padding: 10px 20px 10px 20px;
            &:hover{
                border-bottom: 2px solid red;
            }
        }
    }
    .block-content_block2-1{
        position: relative;
        text-align: center;
        padding: 0;
        .img-girl{
            position: relative;
            max-width: 100%;
            padding: 0;
        }
        .block-content_block-flex2_a{
            position: absolute;
            top: 30%;
            left: 45%;
            text-decoration: none;
            font-size: calc(100vw / 10);
            color: white;
            &:hover{
                color: #f5693d;
            }
        }
    }
}

@media screen and (max-width: 1150px){
    .block-content_block-flex2{
        flex-direction: column;
        .block-content_block2{
            padding-bottom: 100px;
            .block-content_block2_h2{
            }
            .block-content_block2_p{
            }
            .block-content_block2_a{
            }
        }
        .block-content_block2-1{
            .img-girl{
            }
            .block-content_block-flex2_a{
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .block-content_block-flex2{
        .block-content_block2{
            .block-content_block2_h2{
            }
            .block-content_block2_p{
                padding: 0 15% 5% 15%;
                margin: 0;
            }
            .block-content_block2_a{
            }
        }
        .block-content_block2-1{
            .img-girl{
            }
            .block-content_block-flex2_a{
            }
        }
    }
}

.block-content_1200px4{
    text-align: center;
    padding: 50px;
    position: relative;
    height: 300px;
    .block-content_1200px4_h2{
        font-weight: bold;
    }
    .block-content_block-OurWorks{
        width: 120px;
        height: 2px;
        background-color: #f5693d;
        margin: auto;
    }
    .block-content_1200px4_p{
        color: #696969;
        padding-top: 30px;
        padding-bottom: 60px;
    }
}
.block-content_1200px4_a{
    text-decoration: none;
    color: #696969;
    font-weight: bold;
    padding: 10px;
    &:hover{
        border-bottom: 2px solid #f5693d;
        color: black;
    }
}

@media screen and (max-width: 657px){
    .block-content_1200px4{
        }
        .block-content_block-OurWorks{
        }
        .block-content_1200px4_p{
            margin-bottom: -60px;
        }
    .block-content_1200px4_a{
        display: none;
    }
}

@media screen and (max-width: 400px){
    .block-content_1200px4{
        height: 300px;
        }
        .block-content_block-OurWorks{
        }
        .block-content_1200px4_p{
            margin-bottom: -60px;
        }
    .block-content_1200px4_a{
    }
}

.block-content_block-flex3{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    .block-content_block3{
        height: 175px;
        background-color: #e84c3d;
        border: 1px solid white;
    }
}

.block-content_1200px5{
    text-align: center;
    background-color: #1c1c1c;
    position: relative;
    height: auto;
    .block-content_1200px5_img{
        padding-top: 4%;
        padding-bottom: 2.5%;
        width: 35%;
    }
    .block-content_1200px5_p1{
        color: #696969;
        position: absolute;
        left: 25%;
        top: 32.5%;
        font-size: 46px;
        &:hover{
            color: #e84c3d;
        }
    }
    .block-content_1200px5_p2{
        color: #696969;
        position: absolute;
        right: 25%;
        top: 32.5%;
        font-size: 46px;
        &:hover{
            color: #e84c3d;
        }
    }
}

@media screen and (max-width: 1100px){
    .block-content_1200px5{
        .block-content_1200px5_img{
        }
        .block-content_1200px5_p1{
            top: 15.5%;
        }
        .block-content_1200px5_p2{
            top: 15.5%;
        }
    }
}

@media screen and (max-width: 768px){
    .block-content_1200px5{
        .block-content_1200px5_img{
        }
        .block-content_1200px5_p1{
            top: -5px;
        }
        .block-content_1200px5_p2{
            top: -5px;
        }
    }
}

@media screen and (max-width: 568px){
    .block-content_1200px5{
        display: none;
        .block-content_1200px5_img{
        }
        .block-content_1200px5_p1{
        }
        .block-content_1200px5_p2{
        }
    }
}

.block-content_1200px6{
    text-align: center;
    position: relative;
    color: #696969;
    height: auto;
    margin: 0;
    .block-content_block-WhoWeAre{
        margin: auto;
        width: 120px;
        height: 2px;
        background-color: #f5693d;
    }
    .block-content_1200px6_h2{
        color: #3d3d3d;
        font-weight: bold;
        margin-top: 5%;
    }
    .block-content_1200px6_p{
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .block-content_1200px6-flex6{
        display: flex;
        margin: 0;
        justify-content: space-around;
        padding: 0 2.5%;
        .block-content_1200px6_block1{
            background-color: #ebebeb;
            color: #474747;
            height: 500px;
            margin: 100px 0 5% 10%;
            padding-top: 100px;
            .block-content_1200px6_block1-Photo{
                background-color: #f5693d;
                width: 150px;
                height: 150px;
                border-radius: 100%;
                margin: auto;
                margin-bottom: 50px;
            }
            .block-content_1200px6_block1_block-flex{
                margin: 1% auto;
                width: 75px;
                display: flex;
                justify-content: space-around;
                .block-content_1200px6_block1_block{
                    width: 15px;
                    height: 15px;
                    background-color: white;
                    border-radius: 100%;
                    &:hover{
                        background-color: #474747;
                    }
                }
            }
        }
        .block-content_1200px6_block2{
            background-color: #ebebeb;
            color: #474747;
            height: auto;
            padding: 100px;
            text-align: left;
            font-weight: bold;
            margin: 100px 10% 5% 0;
            .block-content_1200px6_block2_h3{
                margin-bottom: 1%;
            }
            .block-content_1200px6_block2_p{
                margin-bottom: 7%;
                font-weight: normal;
            }
            .block-content_1200px6_block2_p2-1{
                position: absolute;
                top: 215px;
            }
            .block-content_1200px6_block2_p2-2{
                position: absolute;
                top: 255px;
            }
            .block-content_1200px6_block2_p2-3{
                position: absolute;
                top: 300px;
            }
            .block-content_1200px6_block2_p2-4{
                position: absolute;
                top: 345px;
            }
            .block-content_1200px6_block2_p3-1{
                position: absolute;
                right: 100px;
                top: 215px;
            }
            .block-content_1200px6_block2_p3-2{
                position: absolute;
                right: 100px;
                top: 255px;
            }
            .block-content_1200px6_block2_p3-3{
                position: absolute;
                right: 100px;
                top: 300px;
            }
            .block-content_1200px6_block2_p3-4{
                position: absolute;
                right: 100px;
                top: 345px;
            }
            .block-content_1200px6_block2_block-white{
                width: 54%;
                height: 2px;
                background-color: white;
                margin: auto;
                margin-bottom: 40px;
                .block-content_1200px6_block2_block-oreng1{
                    background-color: #f5693d;
                    height: 2px;
                    width: 88%;
                }
                .block-content_1200px6_block2_block-oreng2{
                    background-color: #f5693d;
                    height: 2px;
                    width: 92%;
                }
                .block-content_1200px6_block2_block-oreng3{
                    background-color: #f5693d;
                    height: 2px;
                    width: 90%;
                }
                .block-content_1200px6_block2_block-oreng4{
                    background-color: #f5693d;
                    height: 2px;
                    width: 98%;
                }
            }
        }
    }
}

@media screen and (max-width: 1550px){
    .block-content_1200px6{
        .block-content_block-WhoWeAre{
        }
        .block-content_1200px6_h2{
        }
        .block-content_1200px6_p{
        }
        .block-content_1200px6-flex6{
            .block-content_1200px6_block1{
                .block-content_1200px6_block1-Photo{
                }
                .block-content_1200px6_block1_block-flex{
                    .block-content_1200px6_block1_block{
                        }
                    }
                }
            }
            .block-content_1200px6_block2{
                .block-content_1200px6_block2_h3{
                }
                .block-content_1200px6_block2_p{
                    margin-bottom: 7%;
                }
                .block-content_1200px6_block2_p2-1{
                }
                .block-content_1200px6_block2_p2-2{
                }
                .block-content_1200px6_block2_p2-3{
                }
                .block-content_1200px6_block2_p2-4{
                }
                .block-content_1200px6_block2_p3-1{
                }
                .block-content_1200px6_block2_p3-2{
                }
                .block-content_1200px6_block2_p3-3{
                }
                .block-content_1200px6_block2_p3-4{
                }
                .block-content_1200px6_block2_block-white{
                    .block-content_1200px6_block2_block-oreng1{
                    }
                    .block-content_1200px6_block2_block-oreng2{
                    }
                    .block-content_1200px6_block2_block-oreng3{
                    }
                    .block-content_1200px6_block2_block-oreng4{
                    }
                }
            }
        }
    }


@media screen and (max-width: 1148px){
    .block-content_1200px6_block2{
        display: none;
    }
.block-content_1200px6{
        .block-content_block-WhoWeAre{
        }
        .block-content_1200px6_h2{
        }
        .block-content_1200px6_p{
        }
        .block-content_1200px6-flex6{
            .block-content_1200px6_block1{
                margin: 100px 0 5% 0;
                .block-content_1200px6_block1-Photo{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}

@media screen and (max-width: 568px){
    .block-content_1200px6{
        display: none;
    }
}

.block-content_1800px7{
    background-color: #171f23;
    color: white;
    height: auto;
    text-align: center;
    margin: 0;
    .block-content_1200px7{
        width: 1130px;
        margin: auto;
        padding: 50px 0;
        .block-content_1200px7_block_block{
            width: 100px;
            height: 2px;
            background-color: rgb(77, 77, 77);
            margin: auto;
            margin-bottom: 50px;
        }
        .block-content_1800px7-img{
            width: 80%;
        }
    }
    .block-content_1200px7_block2-flex{
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        display: flex;
    }
}

@media screen and (max-width: 370px){
    .block-content_1800px7-img{
        display: none;
    }
}

.block-content_1800px8{
    .block-content_1200px8{
        height: auto;
        text-align: center;
        padding-top: 100px;
        color: #696969;
        position: relative;
        .block-content_1200px8_h2{
            color: #3d3d3d;
            font-weight: bold;
        }
        .block-content_block-BlogPosts{
            width: 120px;
            height: 2px;
            background-color: #f5693d;
            margin: auto;
        }
        .block-content_1200px8_p{
            padding-top: 30px;
        }
        .block-content_block-flex2{
            display: flex;
            justify-content: space-around;
            padding: 0 16%;
            margin: 0;
        }
        .block-content_block3{
            background-color: #ebebeb;
            padding: 30px 35px;
            margin: 50px 10px;
            text-align: left;
            position: relative;
            height: 500px;
            .block-content_block3-img{
                position: relative;
                width: 100%;
                height: 218px;
                padding: 0;
            }
            .block-content_block3_photo1{
                position: absolute;
                top: 23%;
                left: 35%;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background-color: white;
                &:hover{
                    background-color: #ff4c16;
                }
            }
            .block-content_block3_photo2{
                position: absolute;
                top: 23%;
                right: 35%;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background-color: #ff4c16;
                &:hover{
                    background-color: white;
                }
            }
            .block-content_block3_photo1-1{
                position: absolute;
                top: 27.5%;
                width: 45%;
            }
            .block-content_block3_photo2-1{
                position: absolute;
                top: 35%;
                left: 25%;
                width: 50%;
            }
            .block-content_block_h4-1-1{
                margin: 30px 0px;
            }
            .block-content_block_h4-2-1{
                margin: 30px 0px;
            }
            .block-content_block_h4-3-1{
                margin: 30px 0px;
            }
            .block-content_block3_p1{
                position: absolute;
                bottom: 1%;
            }
            .block-content_block3_p2{
                position: absolute;
                bottom: 1%;
                right: 75px;
            }
            .block-content_block3_p3{
                position: absolute;
                bottom: 1%;
                right: 35px;
            }
        }
    }    
}

@media screen and (max-width: 1350px){
    .block-content_1800px8{
        .block-content_1200px8{
            .block-content_1200px8_h2{
            }
            .block-content_block-BlogPosts{
            }
            .block-content_1200px8_p{
            }
            .block-content_block-flex2{
            }
            .block-content_block3{
                height: 600px;
            }
        }
    }
}

@media screen and (max-width: 1150px){
    .block-content_block3_photo1{
        display: none;
    }
    .block-content_block3_photo2{
        display: none;
    }
    .block-content_block3_photo1-1{
        display: none;
    }
    .block-content_block3_photo2-1{
        display: none;
    }
}

@media screen and (max-width: 410px){
    .block-content_1800px8{
        .block-content_1200px8{
            .block-content_1200px8_h2{
            }
            .block-content_block-BlogPosts{
            }
            .block-content_1200px8_p{
            }
            .block-content_block-flex2{
            }
            .block-content_block3{
                .block-content_block3-img{
                }
                .block-content_block3_photo1{
                }
                .block-content_block3_photo2{
                }
                .block-content_block3_photo1-1{
                }
                .block-content_block3_photo2-1{
                }
                .block-content_block_h4-1-1{
                }
                .block-content_block_h4-2-1{
                }
                .block-content_block_h4-3-1{
                }
                .block-content_block3_p1{
                    display: none;
                }
                .block-content_block3_p2{
                    display: none;
                }
                .block-content_block3_p3{
                    display: none;
                }
            }
        }    
    }
}

.block-content_1800px9{
    background-color: #171f23;
    color: white;
    height: auto;
    text-align: center;
    .block-content_1200px9{
        margin: auto;
        padding: 50px;
        .block-content_1200px9_block_block{
            width: 100px;
            height: 2px;
            background-color: rgb(77, 77, 77);
            margin: auto;
            margin-bottom: 50px;
        }
    }
    .block-content_1200px9_block2-flex{
        margin-top: 20px;
        display: flex;
        padding: 0 15%;
        .block-content_1200px9_block2-flex_block{
            background-color: #1f282c;
            height: 450px;
            border: 2px solid #171f23;
            padding: 0;
            &:hover{
                border: 2px solid #ff4c16;
            }
            &:hover span{
                color: #ff4c16;
            }
            .block-content_1200px9_block2-flex_block-content{
                background-color: #0e1316;
                width: 100%;
                height: 30%;
                .block-content_1200px9_block2-flex_block-content_p{
                    padding-top: 40px;
                    margin-bottom: 0px;
                }
            }
            .block-content_1200px9_block2-flex_block-content2{
                width: 100%;
                height: 70%;
                padding: 50px;
                line-height: 30px;
                .block-content_1200px9_block2-flex_block-content2_p{
                    margin-bottom: 50px;
                }
                .block-content_1200px9_block2-flex_block-content2_a{
                    text-decoration: none;
                    color: white;
                    padding: 10px 20px;
                    background-color: #ff4c16;
                    &:hover{
                        border-bottom: 2px solid red;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 390px){
.block-content_1800px9{
    .block-content_1200px9{
        .block-content_1200px9_block_block{
        }
    }
    .block-content_1200px9_block2-flex{
        .block-content_1200px9_block2-flex_block{
            height: auto;
            }
            .block-content_1200px9_block2-flex_block-content{
                .block-content_1200px9_block2-flex_block-content_p{
                }
            }
            .block-content_1200px9_block2-flex_block-content2{
                .block-content_1200px9_block2-flex_block-content2_p{
                }
                .block-content_1200px9_block2-flex_block-content2_a{
                }
            }
        }
    }
}


.text-weight-bold{
    font-weight: bold;
}
.block-content_1800px10{
    height: 800px;
}
.block-content_1200px10{
    margin: auto;
    text-align: center;
    padding-top: 100px;
    .block-content_1200px10_h2{
        font-weight: bold;
    }
    .block-content_block-GetInTouch{
        width: 120px;
        height: 2px;
        background-color: #f5693d;
        margin: auto;
        margin-bottom: 20px;
    }
    .block-content_1200px10_p{
        color: #696969;
    }
}

@media screen and (max-width: 390px){
    .block-content_1800px10{
        height: 900px;
    }
    .block-content_1200px10{
        .block-content_1200px10_h2{
        }
        .block-content_block-GetInTouch{
        }
        .block-content_1200px10_p{
        }
    }
}

.block-content_1200px10-1{
    padding: 100px 15%;
    position: relative;
    margin: 0;
    .block-content_1200px10-1-from{
        display: inline-block;
    }
    .block-content_1200px10-1_p-1{
        position: absolute;
        font-weight: bold;
        color: #696969;
    }
    .block-content_1200px10-1_p-2{
        position: absolute;
        font-weight: bold;
        right: 36.5%;
        color: #696969;
    }
    .block-content_1200px10-1_p-3{
        position: absolute;
        font-weight: bold;
        top: 230px;
        color: #696969;
    }
    .text-color-orenge{
        color: #f5693d;
    }
    .block-content_1200px10-1_input-1{
        position: absolute;
        width: 40%;
        top: 50px;
        outline: none;
        border: none;
        border-bottom: 1px solid #696969;
    }
    .block-content_1200px10-1_input-2{
        position: absolute;
        width: 40%;
        top: 50px;
        right: 0px;
        outline: none;
        border: none;
        border-bottom: 1px solid #696969;
    }
    .block-content_1200px10-1_input-3{
        position: absolute;
        top: 300px;
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid #696969;
    }
    .block-content_1200px10-1_a{
        position: absolute;
        top: 375px;
        left: 45%;
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        background-color: #f5693d;
        font-weight: bold;
        &:hover{
            border-bottom: 2px solid red;
        }
    }
}

@media screen and (max-width: 520px){
    .block-content_1200px10-1{
        .block-content_1200px10-1-from{
        }
        .block-content_1200px10-1_p-1{
        }
        .block-content_1200px10-1_p-2{
            right: 25%;
        }
        .block-content_1200px10-1_p-3{
        }
        .text-color-orenge{
        }
        .block-content_1200px10-1_input-1{
        }
        .block-content_1200px10-1_input-2{
        }
        .block-content_1200px10-1_input-3{
        }
        .block-content_1200px10-1_a{
        }
    }
}

.block-content_1800px11{
    background-color: #171f23;
    text-align: center;
    color: white;
    height: 100px;
    padding-top: 35px;
    .block-content_1800px11_h3_span{
        color: #f5693d;
    }
}
.block-content_1800px12{
    background-color: #1f282c;
    text-align: center;
    color: white;
    height: 250px;
    padding-top: 60px;
    .block-content_1800px12_p{
        font-weight: bold;
        margin-top: 10px;
    }
}